@model PSEBONLINE.Models.Printlist
@{
    Layout = "~/Views/Shared/_Headerdeo.cshtml";
}

<h1>Heading</h1>



    <div class="row">
<div class="col-md-3"></div>
<div class="col-md-3"></div>
<div class="col-md-3"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered" id="t01">
                <tbody><tr class="active-tr">
                    <th>S.No</th>
                    <th>Center</th>
                    <th>Centre Name</th>
                    <th>Building Name</th>
                    <th>Distric</th>
                    <th>CCODE</th>
                    <th>Matric</th>
                    <th>Sr.Sec</th>
                    <th>Action</th>
                </tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
                            </tr>
                          
            </tbody></table>
        </div>
    </div>
</div>
            