@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

<div class="container KDBG">
    <style type="text/css">
        #ac-wrapper {
            background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1001;
        }

        #popup {
            min-height: 240px;
            left: 0;
            padding: 0;
            position: absolute;
            top: 128px;
            width: 100%;
        }

            #popup table {
                background: #fff none repeat scroll 0 0;
                border: 5px solid #f1f1f1;
                border-radius: 0;
                box-shadow: 0 0 3px 3px #64686e;
                max-width: 500px;
                min-width: 320px;
            }

            #popup .button {
                padding: 10px;
                background: #efba09; /* Old browsers */
                background: -moz-linear-gradient(top, #efba09 0%, #fb9709 50%, #efba09 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #efba09 0%,#fb9709 50%,#efba09 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #efba09 0%,#fb9709 50%,#efba09 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efba09', endColorstr='#efba09',GradientType=0 ); /* IE6-9 */
            }
    </style>

    <style type="text/css">
        .ullist li {
            padding: 6px 4px;
            font-size: 16px;
        }

        .ullist {
            padding-bottom: 10px;
        }
    </style>
    <h1>Examination Centre</h1>
    <div class="row">
        <div class="col-md-12">
            @*<ul class="ullist">
                @*--------------------------------------------------------------*
                @if (ViewBag.Matric == "1")
                {

                    <li><samp>&#10093;</samp> <span style="color:#ff0000">09.11.2017</span> - <a href="/School/SignatureChartPrivate/M">Signature Chart Matric (Private) November-2017<img src="/images/new.gif" alt="new" /></a></li>
                    <li><samp>&#10093;</samp> <span style="color:#ff0000">09.11.2017</span> - <a href="/School/ConfidentialListPrivate/M">Confidential List Matric (Private) November-2017<img src="/images/new.gif" alt="new" /></a></li>

                }
                @if (ViewBag.Senior == "1")
                {
                    <li><samp>&#10093;</samp> <span style="color:#ff0000">09.11.2017</span> - <a href="/School/SignatureChartPrivate/S">Signature Chart Senior Secondary (Private) November-2017<img src="/images/new.gif" alt="new" /></a></li>
                    <li><samp>&#10093;</samp> <span style="color:#ff0000">09.11.2017</span> - <a href="/School/ConfidentialListPrivate/S">Confidential List Senior Secondary (Private) November-2017<img src="/images/new.gif" alt="new" /></a></li>

                }
            </ul>*@
            @*--------------------------------------------------------------*@

            @if (Session["Session"].ToString() == "2019-2020")
            {

                <h1>Instructions</h1>
                <ul class="ullist">
                    <li><samp>&#10093;</samp> <span style="color:#ff0000">24.02.2020</span> - <a href="https://registration2022.pseb.ac.in/DeoPortal/CapacityLetter">Capacity Letter of Examination Centre, March 2020 <img src="/images/new.gif" alt="new" /></a></li>
                    @*<li><samp>&#10093;</samp> <span style="color:#ff0000">20.02.2019</span> - <a href="/PDF/Controller Nigran Amla1.pdf" target="_blank">Instructions for Centre Controller regarding appointment of supervisory staff in Exam Centre for Matric/SrSec, March 2019 <img src="/images/new.gif" alt="new" /></a></li>*@
                </ul>                
            }
               else if (Session["Session"].ToString() == "2017-2018")
                {

                   <h1>Instructions</h1>
    <ul class="ullist">
        <li><samp>&#10093;</samp> <span style="color:#ff0000">20.02.2018</span> - <a href="https://www.registration.pseb.ac.in/DeoPortal/CapacityLetter">Capacity Letter of Examination Centre, March 2018 <img src="/images/new.gif" alt="new" /></a></li>
        <li><samp>&#10093;</samp> <span style="color:#ff0000">20.02.2018</span> - <a href="/PDF/Controller Nigran Amla1.pdf" target="_blank">Instructions for Centre Controller regarding appointment of supervisory staff in Exam Centre for Matric/SrSec, March 2018 <img src="/images/new.gif" alt="new" /></a></li>
        </ul>
    @*<h1>Instructions</h1>
    <ul class="ullist">
        <li><samp>&#10093;</samp> <span style="color:#ff0000">19.06.2017</span> - <a href="/PDF/Conduct_Rate_List_For_Matric_and_Senior_Secondary_Supplementary_Exam_2017.pdf" target="_blank">Conduct Rate List for Matric and Senior Secondary Supplementary Exam (Without Open School) June/July 2017 <img src="/images/new.gif" alt="new" /></a></li>
        <li><samp>&#10093;</samp> <span style="color:#ff0000">19.06.2017</span> - <a href="/PDF/Instructions_Regarding_Supplementary_Examination_June_2017.pdf" target="_blank">Instructions Regarding Supplementary Examination June 2017. <img src="/images/new.gif" alt="new" /></a></li>
        <li><samp>&#10093;</samp> <span style="color:#ff0000">19.06.2017</span> - <a href="/PDF/Matriculation_Supplementary_Exam_June_2017.pdf" target="_blank">Matriculation Supplementary Exam June 2017  <img src="/images/new.gif" alt="new" /></a></li>
        <li><samp>&#10093;</samp> <span style="color:#ff0000">19.06.2017</span> - <a href="/PDF/Senior_Secondary_Supplementary_Exam_June_2017.pdf" target="_blank">Senior Secondary Supplementary Exam June 2017 <img src="/images/new.gif" alt="new" /></a></li>
        <li><samp>&#10093;</samp> <span style="color:#ff0000">19.06.2017</span> - <a href="/PDF/Latest_News.pdf" target="_blank">Latest News <img src="/images/new.gif" alt="new" /></a></li>
    </ul>*@
                }
                else
                { }


           
            
      </div>
    </div>
</div>



