@model PSEBONLINE.Models.DEOModel
@{
    Layout = "~/Views/Shared/_Login_Header.cshtml";
}



<form class="form-signin" name="Login_Form" method="post" action="">
    <h3 class="form-signin-heading text-center">District Officer Login</h3>
    <br />
    @Html.TextBoxFor(m => m.username, new { placeholder = "Username", @class = "form-control", required = "required", maxlength = "7", style = "text-transform: none;" })
    @*<input type="text" autofocus="" required="" placeholder="Username" name="Username" class="form-control">*@
    @*<input type="password" required="" placeholder="Password" name="Password" class="form-control">*@   
    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password", required = "required", style = "text-transform: none;" })
	@Html.DropDownList("ExamCentre", new SelectList(ViewBag.ExamCentreList, "ExamMonth", "ExamMonthNM"), "---Select Exam Centre---", new { @class = "form-control", required = "required", style = "text-transform: none;padding-left:0" })
<br />   
   @*<input type="submit" value="Login">*@
    <input type="submit" value="Login" />&nbsp;&nbsp;&nbsp;<a href="/DeoPortal/ForgotPassword" style="color:#cc0000">Forgot Password?</a>
    @*&nbsp;&nbsp;&nbsp;<a href="/Login/ForgotPassword" style="color:#cc0000">Forgot Password?</a>*@
</form>

@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() == "2")
        {
            <script type="text/javascript" language="javascript">
                alert("Login Cancelled");
            </script>}
        else if (ViewData["result"].ToString() == "0")
        {
            <script type="text/javascript" language="javascript">
                    alert("Incorrect Login Details..plz try again");
            </script>
        }
    }
}




