@model PSEBONLINE.Models.ReportModel

@{
    ViewBag.Title = "EAffiliation - Download Data in Excel";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

<h2>Download Data </h2>
<div class="row">
    <div class="col-md-12">
        <fieldset style="margin-bottom:15px">
            <legend>Search</legend>
            @using (Html.BeginForm("EAffiliationDownloadData", "Report", FormMethod.Post, new { id = "searchform" }))
            {
                <div class="col-md-4">@Html.DropDownList("AppType", new SelectList(ViewBag.MyAppType, "Value", "Text", ViewBag.SelectedAppType), "--Select Application Type--", new { @class = "", id = "AppType", @required = "required" })</div>
                <div c lass="col-md-4">
                    <input type="submit" name="submit" value="Export To Excel" />
                </div>

            }
        </fieldset>
    </div>
</div>