@model PSEBONLINE.Models.ReportModel
@{
    ViewBag.Title = "Examination Report";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<style type="text/css">
    td{font-size:11px;padding:1px;vertical-align:top}
</style>
<link rel="stylesheet" href="https://registration2022.pseb.ac.in/Content/Print-4L.css" />
<h1 class="noprint">Correction Status</h1>
@{ 
 using (Html.BeginForm("StatusofCorrection", "Report", FormMethod.Post, new { id = "searchform" }))
 {
    <div class="row">
    <div class="col-md-12 text-right noprint">
        <input type="button" value="Print" class="btn" onclick="window.print()" />
        <input type="button" value="Back" class="btn" onclick="history.go(-1);" />
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
<table style="border-collapse:collapse;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:12px" border="1">
            <tr>
                <td style="border-right:0 !important" colspan="2">
                    <div style="padding:2px"><img src="~/Images/Printlogo.jpg" width="60px" height="60px" alt="PSEB" /></div>
                </td>
                <td colspan="12" style="font-size:14px;text-align:center;line-height:22px;vertical-align:top;border-left:0 !important;border-right:0 !important;padding-top:8px;">
                    <span style="font-size:28px">Punjab School Education Board</span>
                    <br />
                    <span>Status of Correction </span>
                </td>
                <td style="border-left:0 !important" align="right" colspan="2">Print Date : @DateTime.Now.ToString("dd/MM/yyyy") &nbsp;</td>
            </tr>
			<tr>
			<td width="7%" rowspan="3" align="center" >Class</td>
			<td colspan="15" style="text-align:center">Correction Type</td>
			</tr>
			<tr>
			<td colspan="5" style="text-align:center">Particular</td>
			<td colspan="5" style="text-align:center">Subject</td>
			<td colspan="5" style="text-align:center">Photo</td>
			</tr>
            <tr>
                <td width="7%" align="center">Total</td>
                <td width="8%" align="center">Accepted</td>
                <td width="8%" align="center">Rejected</td>
                <td width="8%" align="center">Pending</td>
                <td width="8%" align="center">UnderProcess</td>

                <td width="7%" align="center">Total</td>
                <td width="8%" align="center">Accepted</td>
                <td width="8%" align="center">Rejected</td>
                <td width="8%" align="center">Pending</td>
                <td width="8%" align="center">UnderProcess</td>

                <td width="7%" align="center">Total</td>
                <td width="8%" align="center">Accepted</td>
                <td width="8%" align="center">Rejected</td>
                <td width="8%" align="center">Pending</td>
                <td width="8%" align="center">UnderProcess</td>
            </tr>
	@if (ViewBag.TotalCount>0)
    {

        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
        {
            var Class = Model.StoreAllData.Tables[0].Rows[i]["Class"].ToString();
            var Particular_Total = Model.StoreAllData.Tables[0].Rows[i]["Particular_Total"].ToString();
            var Particular_Acccepted = Model.StoreAllData.Tables[0].Rows[i]["Particular_Acccepted"].ToString();
            var Particular_Rejected = Model.StoreAllData.Tables[0].Rows[i]["Particular_Rejected"].ToString();
            var Particular_Pending = Model.StoreAllData.Tables[0].Rows[i]["Particular_Pending"].ToString();
            var Particular_UnderProcess = Model.StoreAllData.Tables[0].Rows[i]["Particular_UnderProcess"].ToString();
            //
            var Subject_Total = Model.StoreAllData.Tables[0].Rows[i]["Subject_Total"].ToString();
            var Subject_Acccepted = Model.StoreAllData.Tables[0].Rows[i]["Subject_Acccepted"].ToString();
            var Subject_Rejected = Model.StoreAllData.Tables[0].Rows[i]["Subject_Rejected"].ToString();
            var Subject_Pending = Model.StoreAllData.Tables[0].Rows[i]["Subject_Pending"].ToString();
            var Subject_UnderProcess = Model.StoreAllData.Tables[0].Rows[i]["Subject_UnderProcess"].ToString();
            //

            var Photo_Total = Model.StoreAllData.Tables[0].Rows[i]["Photo_Total"].ToString();
            var Photo_Acccepted = Model.StoreAllData.Tables[0].Rows[i]["Photo_Acccepted"].ToString();
            var Photo_Rejected = Model.StoreAllData.Tables[0].Rows[i]["Photo_Rejected"].ToString();
            var Photo_Pending = Model.StoreAllData.Tables[0].Rows[i]["Photo_Pending"].ToString();
            var Photo_UnderProcess = Model.StoreAllData.Tables[0].Rows[i]["Photo_UnderProcess"].ToString();


	<tr align="center">
			<td>@Class<br />&nbsp;</td>			
			<td>&nbsp;@Particular_Total</td>
			<td>&nbsp;@Particular_Acccepted</td>
			<td>&nbsp;@Particular_Rejected</td>
			<td>&nbsp;@Particular_Pending</td>
			<td>&nbsp;@Particular_UnderProcess</td>
			<td>&nbsp;@Subject_Total</td>
			<td>&nbsp;@Subject_Acccepted</td>
			<td>&nbsp;@Subject_Rejected</td>
			<td>&nbsp;@Subject_Pending</td>
			<td>&nbsp;@Subject_UnderProcess</td>
			<td>&nbsp;@Photo_Total</td>
			<td>&nbsp;@Photo_Acccepted</td>
			<td>&nbsp;@Photo_Rejected</td>
			<td>&nbsp;@Photo_Pending</td>
			<td>&nbsp;@Photo_UnderProcess</td>
			</tr>
            }
        }
        else
        {
      <tr>
            <td colspan="12">RECORD NOT FOUND</td>
      </tr>
         }
</table>


    </div>
    </div>
    }
}
