@{ Layout = "~/Views/Shared/_Headerui.cshtml"; }



<div class="row">
    <div class="col-md-12">@Html.Partial("_AssociateHeading")</div>
    <div class="clearfix"></div>
    <div class="col-md-3">
        @Html.Partial("_AssociateMenu")
    </div>
    <div class="col-md-9">


    </div>
</div>