@model PSEBONLINE.Models.Printlist
@{
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Open UsefulLinks</title>
</head>
<body>
    <div>
        @{

            if (ViewBag.TotalCircular > 0)
            {
                int d = 0;
                int Count = 0;
                DateTime sDate = DateTime.Today;

                if (ViewBag.CircularCount > 0)
                {
                    for (int i = 0; i < Model.dsCircular.Rows.Count; i++)
                    {
                        d = d + 1;
                        var ID = Model.dsCircular.Rows[i]["ID"].ToString();
                        var CircularNo = Model.dsCircular.Rows[i]["CircularNo"].ToString();
                        var Title = Model.dsCircular.Rows[i]["Title"].ToString();
                        var UploadDate = Model.dsCircular.Rows[i]["UploadDateDD"].ToString().Split(' ')[0];
                        var ExpiryDate = Model.dsCircular.Rows[i]["ExpiryDateDD"].ToString().Split(' ')[0];
                        var Category = Model.dsCircular.Rows[i]["IsMarque"].ToString() == "1" ? "Marque" : "Circulars";
                        var Status = Model.dsCircular.Rows[i]["IsActive"].ToString().ToLower() == "true" ? "Active" : "De-Active";
                        var NewFlag = Model.dsCircular.Rows[i]["NewFlag"].ToString();
                        var Attachment = Model.dsCircular.Rows[i]["Attachment"].ToString();
                        var UrlLink = Model.dsCircular.Rows[i]["UrlLink"].ToString();
                        // Count = Count + 1;
                        DateTime eDate = DateTime.ParseExact(ExpiryDate, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);

                        if (Model.dsCircular.Rows[i]["IsMarque"].ToString() != "1" && (sDate <= eDate))
                        {
                            <br /><br />
                            if (!string.IsNullOrEmpty(UrlLink))
                            {
                                <a href='@UrlLink' class="listitm" target="_blank" title="click here to open link">
                                    <samp>&#10093;</samp> <span style="color:#ff0000">@UploadDate</span> @Title
                                    @if (NewFlag == "1")
                                    {<img src="/images/new.gif" alt="new" />}
                                </a>
                            }
                            else if (!string.IsNullOrEmpty(Attachment))
                            {
                                <a href="/@Attachment" target="_blank" class="listitm">
                                    <samp>&#10093;</samp> <span style="color:#ff0000">@UploadDate</span>
                                    @Title
                                    @if (NewFlag == "1")
                                    {<img src="/images/new.gif" alt="new" />}
                                </a>
                            }
                        }

                    }
                }
            }
        }
    </div>
</body>
</html>
