@{
    ViewBag.Title = "Attendance of Students";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<h1>
    Attendance of Students

</h1>
<div class="row">
    <div class="col-md-12">
        <fieldset style="margin-bottom:15px">
            <legend>Search</legend>
            <div class="col-md-3">
                Select Exam Batch
                <select class="" id="SelExamBatch" name="SelList">
                    <option value="">--Select Exam Batch---</option>
                </select>
            </div>

            <div class="col-md-3">
                Select Class
                <select class="" id="SelClass" name="SelList">
                    <option value="">--Select Class---</option>
                </select>

            </div>
            <div class="col-md-3">
                Select Category
                <select class="" id="SelCategory" name="SelList">
                    <option value="">--Select Category---</option>
                </select>

            </div>
            <div class="col-md-3">
                Search By
                <select class="" id="SearchList" name="SelList">
                    <option value="">--Select---</option>
                    <option value="">--School Code---</option>
                    <option value="">--Centre Code---</option>
                </select>
            </div>
            <div class="col-md-3">
                <br>
                <input type="submit" value="Search" onclick="">
                <input type="submit" name="Reset" value="Reset" formaction="">
            </div>
        </fieldset>
    </div>

    <div class="clearfix"></div>
    <div class="col-md-12">
        <table class="table table-bordered" id="">
            <tr class="active-tr">
                <th> Centre Code</th>
                <th>Class</th>
                <th>Category</th>
                <th>Subject Code</th>
                <th>Subject Name</th>
                <th>Exam Date</th>
                <th>Total</th>
                <th>Present</th>
                <th>Absent</th>
                <th>Cancel</th>
                <th>UMC</th>
                <th>Memo No</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    </div>
