
@{
    ViewBag.Title = "ErrorList";
    Layout = "~/Views/Shared/_BankLayout.cshtml";
}
<h1>List Of Errors</h1>
<div class="row">    
    <div class="col-md-12">
@using (Html.BeginForm("BankMISPage", "Challan", FormMethod.Post, new { id = "searchform", enctype = "multipart/form-data" }))
{
        <div class="table-responsive">
            <table id="t01" class="table table-bordered">
                <tr class="active-tr">
                    <th width="5%">Sr No</th>
                    <th width="80%">Error Details</th>
                    <th width="15%">Error Date</th>
                  
                </tr>
                @for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                {
                    int Count = 0;
                    var ErrorList = Model.StoreAllData.Tables[0].Rows[i]["ErrorList"].ToString();
                    var Createdate = Model.StoreAllData.Tables[0].Rows[i]["Createdate"].ToString();
                    Count++;
                <tr>
                    <td>@Count</td>
                  <td>@ErrorList</td>
                    <td>@Createdate</td>
                </tr>
                }
               

            </table>
        </div>
}
    </div>

<div class="col-md-12 text-center">
<input type="button" value="Back" onclick="javascript:document.location.href='@Url.Action("VerifyMIS", "Bank", new { File = "Back" })    '" />

</div>
</div>





