@model PSEBONLINE.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login_Header.cshtml";
}

<div class="col-md-12" style="font-size:24px;padding-top:20px;text-align:center">
      <a href="https://middleprimary.pseb.ac.in/Bank" target="_blank" style="color:#cc0000">
        Click here for Primary-Middle Challans
    </a>  
</div>


<form class="form-signin" name="Login_Form" method="post" action="">
    <h3 class="form-signin-heading text-center">Bank Login Panel</h3>
    <br />
    @Html.TextBoxFor(m => m.username, new { placeholder = "Username", @class = "form-control", required = "required" })
    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
    @Html.DropDownList("Session", new SelectList(ViewBag.SessionList, "Value", "Text"), "--Select Session---", new { @class = "form-control", required = "required" })
    <input type="submit" value="Login" />
</form>
@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() == "2")
        {
            <script type="text/javascript" language="javascript">
                alert("Bank Login Cancelled");
            </script>}
        else if (ViewData["result"].ToString() == "0")
        {
            <script type="text/javascript" language="javascript">
                alert("Incorrect Bank Login Details..plz try again");
            </script>
        }
    }
}








