@{
    ViewBag.Title = "PageNotAuthorized";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<style>
    .input-validation-error {
        background-color: #FF9494 !important;
        border: solid 1px Red !important;
    }

    .popup {
        padding-top: 5%;
        padding-bottom: 12%;
        text-align: center;
    }

        .popup table {
            background: #fff none repeat scroll 0 0;
            border-radius: 5px;
            max-width: 600px;
            min-width: 480px;
            border: 3px solid #f1f1f1;
            padding: 15px;
            box-shadow: 0 0 3px 3px #64686e;
        }
</style>
<div class="popup">
    <center>
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>
                        <h1 style="color:#cc0000">Page/Action Not Authorized</h1>
                        <p style="font-size:16px;line-height:24px">
                            We're sorry, You're not authorized to view this Page/Action<br /><br />
                            You might not have permission to view this page using Credentials. <br /><br />
                            If you believe  you should be able to view this page, Please try to contact Administrator<br />
                             <span class="rqf">Contact Details : </span> <br />
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>

