@{
    ViewBag.Title = "SecrecyViewList";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<link rel="stylesheet" href="https://registration2022.pseb.ac.in/Content/cardprintr.css" />
<h1 class="noprint">@ViewBag.IsRecheck Secrecy View List</h1>
<div class="row">   
    <div class="col-md-6 text-left noprint">
       Total :  @ViewBag.TotalCount
    </div>
    <div class="col-md-6 text-right noprint">
        @*<input type="button" value="Print" class="btn" onclick="window.print()" />*@
        <input type="button" value="Back" class="btn" onclick="history.go(-1);" />
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div style="border:1px solid #fff !important;display:block;margin-bottom:30px">
            <table border="1" width="100%" class="tprint">
                <thead>
                    @*<tr>
                        <td style="border-right:0 !important" colspan="2" width="15%"><div style="padding:2px"><img src="~/Images/Printlogo.jpg" width="60px" height="60px" alt="PSEB" /></div></td>
                        <td colspan="4" style="font-size:16px;text-align:center;line-height:24px;vertical-align:top;border-left:0 !important;border-right:0 !important;padding-top:8px">
                            <span style="font-size:28px">Punjab School Education Board</span><br /><span>Bank Wise Fee Collection Details (Session @Session["session"].ToString())</span>
                        </td>
                        <td style="text-align:right;border-left:0 !important;" width="15%">Print Date : @DateTime.Now.ToString("dd/MM/yyyy") &nbsp;</td>
                    </tr>*@
                    <tr>
                        <td width="12%">&nbsp;S.No</td>
                        <td width="15%">&nbsp;DIST</td>
                        <td width="10%">&nbsp;ROLL</td>
                        <td width="28%">&nbsp;SUBJECT</td>
                        <td width="10%">&nbsp;SECID</td>
                        <td width="10%">&nbsp;BAR</td>
                        <td width="10%">&nbsp;BAG</td>
                    </tr>
                </thead>
                @{
                    if (ViewBag.TotalCount > 0)
                    {
                        int Count = 0;
                        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                        {
                            Count = Count + 1;
                            var Roll = Model.StoreAllData.Tables[0].Rows[i]["Roll"].ToString();
                            var SECID = Model.StoreAllData.Tables[0].Rows[i]["SECID"].ToString();
                            var SUBNM = Model.StoreAllData.Tables[0].Rows[i]["SUBNM"].ToString();
                            var BAR = Model.StoreAllData.Tables[0].Rows[i]["BAR"].ToString();
                            var BAG = Model.StoreAllData.Tables[0].Rows[i]["BAG"].ToString();
                            var DISTNM = Model.StoreAllData.Tables[0].Rows[i]["DISTNM"].ToString();
                            <tr>	
                                <td>&nbsp;@Count</td>
                                <td>&nbsp;@DISTNM</td>
                                <td>&nbsp;@Roll</td>
                                <td>&nbsp;@SUBNM</td>
                                <td>&nbsp;@SECID</td>
                                <td>&nbsp;@BAR</td>
                                <td>&nbsp;@BAG</td>                               
                            </tr>
                        }
                    }
                }        
            </table>
        </div>
    </div>
</div>

