@{
    ViewBag.Title = "StudentAllReport";
    Layout = "~/Views/Shared/_Header.cshtml";
}

@if (Session["UserName"] != null)
{ }
else
{
    Response.Redirect("~/Login");
}
<h2>Student All Report</h2>

<iframe id="iframeConsumptionReport" width="100%" height="500" src="~/StudentAllReport.aspx" style=" border:none; padding:0; margin:0;"></iframe>
