@model PSEBONLINE.Models.RegistrationModels
@{
    Layout = "~/Views/Shared/_Login_Header.cshtml";
}

@using (Html.BeginForm("Agree", "Open", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h1>
        Online Admission Portal Of Open School - Session @if (Session["Session"] != null)
        {@Session["Session"].ToString()}
        else { Response.Redirect("~/Open/Index"); }
    </h1>
    <div class="row">
        <div class="col-md-9">
            <h4>
                Instructions
            </h4>
        </div>
        <div class="col-md-3 text-right"> <a class="btn" href="/PDF/OPEN/Instructions-2020.pdf" target="_blank">Download/Print Instructions</a></div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <iframe src="/PDF/OPEN/Instructions-2020.pdf" class="col-lg-12 col-md-12 col-sm-12 iframeh"></iframe>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">          
            <p>
                @Html.RadioButton("agree", "Agree", new { id = "Agree", @checked = "true" }) <span class="kdsfont">Ìè× ÓÚÕÌ¼ ÕÙ </span> (I Agree)
            @Html.RadioButton("agree", "NotAgree", new { id = "NotAgree", }) <span class="kdsfont">Ìè× ÓÚÕÌ¼ ÅÕÛ× ÕÙ</span> (I do not Agree)
        </p>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 text-center ptb">
        <input type="submit" id="Submit" value="Submit" />
        @*<input type="submit" value="Submit" id="Submit" formmethod="post" onclick="location.href='@Url.Action("CheckAgree", "RegistrationPortal")'" />*@
        @*<input type="submit" id="Submit" value="Back" />*@
        <a href="@Url.Action("Index","Open")" class="btn">Back</a>
    </div>

</div>

}