@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

<style type="text/css">
    #ac-wrapper {
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1001;
    }

    #popup {
        min-height: 240px;
        left: 0;
        padding: 0;
        position: absolute;
        top: 128px;
        width: 100%;
    }

        #popup table {
            background: #fff none repeat scroll 0 0;
            border: 5px solid #f1f1f1;
            border-radius: 0;
            box-shadow: 0 0 3px 3px #64686e;
            max-width: 500px;
            min-width: 320px;
        }

        #popup .button {
            padding: 10px;
            background: #efba09; /* Old browsers */
            background: -moz-linear-gradient(top, #efba09 0%, #fb9709 50%, #efba09 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #efba09 0%,#fb9709 50%,#efba09 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #efba09 0%,#fb9709 50%,#efba09 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efba09', endColorstr='#efba09',GradientType=0 ); /* IE6-9 */
        }
</style>

<style type="text/css">
    

    .ullist {
        padding-bottom: 100px;
    }
</style>

@{
    if (Session["LoginSession"] != null)
    {
        PSEBONLINE.Models.LoginSession LoginSession = (PSEBONLINE.Models.LoginSession)Session["LoginSession"];


        <div class="container KDBG">

            <h1>(Differently Abled) Portal For <b>@LoginSession.CurrentSession</b></h1>
            <div class="row">
                <div class="col-md-12">
                    <ul class="ullist">
                        @if (LoginSession.Matric == "Y" || LoginSession.Matric == "1")
                        {
                            <li><a href="/School/PhyChlMarksEntryPanel/Matric"><samp>&#10093;</samp> (Differently Abled) Marks Entry Panel For Matric (Session <b>@LoginSession.CurrentSession</b>)</a></li>
                        }

                        @if (LoginSession.Senior == "Y" || LoginSession.Senior == "1")
                        {
                            <li><a href="/School/PhyChlMarksEntryPanel/Senior"><samp>&#10093;</samp> (Differently Abled) Marks Entry Panel For Senior (Session <b>@LoginSession.CurrentSession</b>)</a></li>
                        }

                    </ul>                 
                </div>

<div class="clearfix"></div>
<div class="col-md-12">
<h1>Instructions</h1>
                    <ul class="ullist">
                       @* <li><a href="/PDF/DifferentlyAbledStudents.pdf" target="_blank"><samp>&#10093;</samp> <samp style="color:#ff0000">04-03-2021</samp> Marking Instruction For Differently Abled Students March 2021</a></li>*@
           
</ul>
</div>
 </div>


        </div>


    }
}