

@model PSEBONLINE.Models.SchoolModels
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

@using (Html.BeginForm("PreBoardExamTheoryAgree", "School", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h1>
        Pre-Board Exam Theory Guidelines For Examination - Session @Session["Session"].ToString()
    </h1>
    <div class="row">
        <div class="col-md-9">
            <h4>
                Instructions
            </h4>
        </div>
        <div class="col-md-3 text-right"> <a class="btn" href="../../PDF/PreBoard_Instructions.pdf" target="_blank">Download/Print Instructions</a></div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            @if (TempData["PreBoardExamTheoryAgree"] != null)
            {
                if (TempData["PreBoardExamTheoryAgree"].ToString() == "S")
                {
                    <iframe src="../../PDF/PreBoard_Instructions.pdf" class="col-lg-12 col-md-12 col-sm-12 iframeh"></iframe>
                }
                else if (TempData["PreBoardExamTheoryAgree"].ToString() == "M")
                {
                    <iframe src="../../PDF/PreBoard_Instructions.pdf" class="col-lg-12 col-md-12 col-sm-12 iframeh"></iframe>
                }
            }

        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <p>
                @Html.RadioButtonFor(model => model.Agree, "Agree", new { id = "Agree", @checked = "true" }) <span class="kdsfont">Ìè× ÓÚÕÌ¼ ÕÙ </span> (I Agree)
                @Html.RadioButtonFor(model => model.Agree, "NotAgree", new { id = "NotAgree", }) <span class="kdsfont">Ìè× ÓÚÕÌ¼ ÅÕÛ× ÕÙ</span> (I do not Agree)
            </p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 text-center">
            <input type="submit" id="Submit" value="Submit" />

            <a href="/School/PreBoardExamTheory_Portal" class="btn">Back</a>
        </div>

    </div>

}