@{
    Layout = "~/Views/Shared/_Header.cshtml";
}



    <div class="row">
        <div class="col-lg-4">
            <table id="t01" class="table table-hover table-bordered">
                <tbody>
                    <tr style="font-weight: bold;">
                        <td align="center" style="width: 13%" colspan="2">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblmiddle"><br />Middle<br />&nbsp;</span>
                        </td>
                        <td align="center" style="width: 12%" colspan="2">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblmatric"><br />Matric<br />&nbsp;</span>
                        </td>
                    </tr>
                    <tr style="font-weight: bold;">
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblmiddlereg">Regular</span>
                        </td>
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblmiddleopen">Open</span>
                        </td>
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblmatricreg">Regular</span>
                        </td>
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblmatricopen">Open</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblmidreg">Yes</span>
                        </td>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblmidopn">No</span>
                        </td>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblmatreg">Yes</span>
                        </td>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblmatopn">No</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table id="t01" class="table table-hover table-bordered">
                <tbody>
                    <tr style="font-weight: bold;">
                        <td align="center" colspan="6">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblsensec">Senior Secondary</span>
                        </td>
                    </tr>
                    <tr style="font-weight: bold;">
                        <td align="center" colspan="6" style="width: 32%">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblopen">Regular</span>
                        </td>
                    </tr>
                    <tr style="font-weight: bold;">
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblopenhum">Hum.</span>
                        </td>
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblopensci">Sci</span>
                        </td>
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblopencomm">Comm.</span>
                        </td>
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblopenvoc">Voc.</span>
                        </td>
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblopentech">Tech.</span>
                        </td>
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblopenagrli">Agri.</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblsohum">No</span>
                        </td>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblsosci">No</span>
                        </td>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblsocomm">No</span>
                        </td>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblsovoc">No</span>
                        </td>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblsotech">No</span>
                        </td>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lvlsoagri">No</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table id="t01" class="table table-hover table-bordered">
                <tbody>
                    <tr style="font-weight: bold;">
                        <td align="center" colspan="6">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblsensec">Senior Secondary</span>
                        </td>
                    </tr>
                    <tr style="font-weight: bold;">
                        <td align="center" colspan="6" style="width: 32%">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblopen">Open</span>
                        </td>
                    </tr>
                    <tr style="font-weight: bold;">
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblopenhum">Hum.</span>
                        </td>
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblopensci">Sci</span>
                        </td>
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblopencomm">Comm.</span>
                        </td>
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblopenvoc">Voc.</span>
                        </td>
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblopentech">Tech.</span>
                        </td>
                        <td align="left">
                            <span class="lbl" id="ctl00_ContentPlaceHolder1_lblopenagrli">Agri.</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblsohum">No</span>
                        </td>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblsosci">No</span>
                        </td>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblsocomm">No</span>
                        </td>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblsovoc">No</span>
                        </td>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lblsotech">No</span>
                        </td>
                        <td align="left">
                            <span class="lblshow" id="ctl00_ContentPlaceHolder1_lvlsoagri">No</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
