
@{
    ViewBag.Title = "SchoolCutListAdmin";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<h1>School Cut List by Admin</h1>

<div class="row">
    <div class="col-md-12 text-right" style="display:none"><input type="button" value="Back" onclick="javascript:document.location.href='@Url.Action("SchoolCutListAdmin", "School" )'" /></div>
        <div class="col-md-12">
            <ul class="ullist">
                
                    <li><a href="/School/CutList_Schl_Admin/M"><samp>&#10093;</samp> Matric Regular Cut List</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="/School/CutList_Schl_Admin/ME">Matric Regular Error List</a></li>
                
                    <li><a href="/School/CutList_Schl_Admin/MO"><samp>&#10093;</samp> Matric Open Cut List</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="/School/CutList_Schl_Admin/MOE"> Matric Open Error List</a></li>
                
                    <li><a href="/School/CutList_Schl_Admin/S"><samp>&#10093;</samp> Senior Regular Cut List</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="/School/CutList_Schl_Admin/SE"> Senior Regular Error List</a></li>
                
                    <li><a href="/School/CutList_Schl_Admin/SO"><samp>&#10093;</samp> Senior Open Cut List</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="/School/CutList_Schl_Admin/SOE"> Senior Open Error List</a></li>
                
            </ul>
        </div>
    </div>


