@model PSEBONLINE.Models.SchoolModels
@{
    ViewBag.Title = "C-55 Letter";
    Layout = "~/Views/Shared/_Print_Header.cshtml";
}
<link rel="stylesheet" href="/Content/cardprinta.css" />
<style type="text/css">   
    body {
        font-size: 11px;
    }
    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }
</style>
<style type="text/css">
    .brack {
        page-break-after: always;
    }
</style>
@using (Html.BeginForm("SupervisoryStaffList", "School", FormMethod.Post, new { id = "searchform" }))
{
    
    {
            <table style="width:100%;" border="0" class="bgimg">
                <tr>
                    <td>
                        <table style="width:100%;" border="0" class="noprint">
                            <tr>
                                <td style="text-align:right;padding-bottom:3px">
                                    <input type="button" value="Print" class="btn" onclick="window.print()" />
                                    <input type="button" value="Back" class="btn" onclick="history.go(-1);" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
               
                    <tr>
                        <td align="center">
                                
    @{
        if (ViewBag.TotalCount > 0)
        {
            int d = 0;
            for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
            {
                int cnt = 1, p = 0, q = 0, r = 0;
                var CCENT = Model.StoreAllData.Tables[0].Rows[i]["cent"].ToString();
                var CCODE = Model.StoreAllData.Tables[0].Rows[i]["CCODE"].ToString();
                var CENTRENAME = Model.StoreAllData.Tables[0].Rows[i]["ecentre"].ToString();
                var pcentre = Model.StoreAllData.Tables[0].Rows[i]["pcentre"].ToString();
                var DC = Model.StoreAllData.Tables[0].Rows[i]["DIST"].ToString();
                var DISTNAME = Model.StoreAllData.Tables[0].Rows[i]["Distnm"].ToString();
                var schlooe = Model.StoreAllData.Tables[0].Rows[i]["schoole"].ToString();
                var schloop = Model.StoreAllData.Tables[0].Rows[i]["schoolp"].ToString();
                var EMAILID = Model.StoreAllData.Tables[0].Rows[i]["EMAILID"].ToString();
                var PHONE = Model.StoreAllData.Tables[0].Rows[i]["PHONE"].ToString();
                var MOBILE = Model.StoreAllData.Tables[0].Rows[i]["MOBILE"].ToString();
                var pdate = Model.StoreAllData.Tables[0].Rows[i]["PrintDate"].ToString();
                var DIST = Model.StoreAllData.Tables[0].Rows[i]["DIST"].ToString();
                var DISTNM = Model.StoreAllData.Tables[0].Rows[i]["DISTNM"].ToString();

                <table border="0" style="width:96%;" align="center" class="brack">
                    <tbody>
                        <tr>
                            <td colspan="2" style="padding-bottom:5px">
                                <table width="100%">
                                    <tr>
                                        <td width="10%"><img src="~/Images/Printlogo.jpg" alt="PSEB" /></td>
                                        <td width="80%" style="font-size:16px;text-align:center;line-height:25px;">
                                            <span style="font-size:26px;">Punjab School Education Board</span><br />Supervisory Staff List for Examination March 2017
                                        </td>
                                        <td width="10%" align="right"><span style="padding:15px 15px;border:2px solid #000000 !important">C-55</span></td>
                                    </tr>
                                </table>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <table width="100%" border="1">
                                    <tr>
                                        <td>&nbsp;District Code/Name</td>
                                        <td colspan="5">&nbsp;@DIST / @DISTNM</td>
                                    </tr>
                                    <tr>
                                        <td width="25%" style="vertical-align:top">
                                            &nbsp;Centre Name<br />&nbsp;<span class="kdsfont">ÆñÛÚª¤Ø ¨ã×ÂÏ ÂØ ÅÙ</span>
                                        </td>
                                        <td width="18%" style="vertical-align:top">&nbsp;@CENTRENAME<br />&nbsp;<span class="kdsfont">@pcentre</span></td>
                                        <td width="17%" style="vertical-align:top">
                                            &nbsp;Cluster code<br />&nbsp;<span class="kdsfont">ÆñÛÚª¤Ø ¨ã×ÂÏ ÂØ ÅÙ</span>
                                        </td>
                                        <td width="10%" style="vertical-align:top">&nbsp;@CCODE<br />&nbsp;<span class="kdsfont"></span></td>
                                        <td width="20%" style="vertical-align:top">
                                            &nbsp;Centre Code<br />&nbsp;<span class="kdsfont">ÆñÛÚª¤Ø ¨ã×ÂÏ ÂØ ¨ë¸</span>
                                        </td>
                                        <td width="10%" style="vertical-align:top">&nbsp;@CCENT</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;Exam Centre Building Name<br />&nbsp;<span class="kdsfont">ÆñÛÚª¤Ø ¨ã×ÂÏ ÂÛ ÚÉÐÚ¸â¬ ÂØ ÅÙ</span></td>
                                        <td colspan="5">&nbsp;@schlooe<br />&nbsp;<span class="kdsfont">@schloop</span></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;Exam Centre Contact Details</td>
                                        <td colspan="5">&nbsp;Email:&nbsp;&nbsp;@EMAILID &nbsp;&nbsp;Phone:&nbsp;&nbsp;@PHONE,&nbsp;&nbsp;@MOBILE</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height:15px"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:left">
                                <table width="100%" border="1">
                                    <tr>
                                        <td width="6%">&nbsp;Sr</td>
                                        <td width="14%">&nbsp;Staff ID</td>
                                        <td>&nbsp;Name/Father's Name, Designation & School Name, Mobile No.</td>
                                    </tr>

                                    @for (int j = 0; j < Model.StoreAllData.Tables[1].Rows.Count; j++)
                                    {
                                        if (@CCENT == Model.StoreAllData.Tables[1].Rows[j]["cent"].ToString() && Model.StoreAllData.Tables[1].Rows[j]["dcode"].ToString() == "1")
                                        {
                                            p = p + 1;
                                            if (p == 1)
                                            {
                                                <tr>
                                                    <td colspan="3" style="text-align:left;font-size:16px">&nbsp;Superintendent</td>
                                                </tr>
                                            }

                                            <tr>
                                                <td>&nbsp;@p</td>
                                                <td>&nbsp;@Model.StoreAllData.Tables[1].Rows[j]["staffid"].ToString()</td>
                                                <td>&nbsp;@Model.StoreAllData.Tables[1].Rows[j]["fullDetails"].ToString()</td>
                                            </tr>
                                        }

                                        if (@CCENT == Model.StoreAllData.Tables[1].Rows[j]["cent"].ToString() && Model.StoreAllData.Tables[1].Rows[j]["dcode"].ToString() == "2")
                                        {

                                            q = q + 1;
                                            if (q == 1)
                                            {
                                                <tr>
                                                    <td colspan="3" style="text-align:left;font-size:16px">&nbsp;Deputy Superintendent</td>
                                                </tr>
                                            }

                                            <tr>
                                                <td>&nbsp;@q</td>
                                                <td>&nbsp;@Model.StoreAllData.Tables[1].Rows[j]["staffid"].ToString()</td>
                                                <td>&nbsp;@Model.StoreAllData.Tables[1].Rows[j]["fullDetails"].ToString()</td>
                                            </tr>
                                        }

                                        if (@CCENT == Model.StoreAllData.Tables[1].Rows[j]["cent"].ToString() && Model.StoreAllData.Tables[1].Rows[j]["dcode"].ToString() == "3")
                                        {
                                            r = r + 1;
                                            if (r == 1)
                                            {
                                                <tr>
                                                    <td colspan="3" style="text-align:left;font-size:16px">&nbsp;Invigilator</td>
                                                </tr>
                                            }

                                            <tr>
                                                <td>&nbsp;@r</td>
                                                <td>&nbsp;@Model.StoreAllData.Tables[1].Rows[j]["staffid"].ToString()</td>
                                                <td>&nbsp;@Model.StoreAllData.Tables[1].Rows[j]["fullDetails"].ToString()</td>
                                            </tr>
                                        }

                                    }
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left">Print Date:- @pdate</td>
                            <td style="font-size:14px;text-align:right;font-style:initial;padding-top:20px">
                                <br />
                                <img src="~/Images/Ssig.jpg" /><br />
                                Assistant Secretary (Conduct Branch)<br />
                                Punjab School Education Board
                            </td>
                        </tr>

                    </tbody>
                    
                </table>
            }
        }
    }

                                
                               
                                              
                        </td>
                    </tr>
                   
                
</table>
            }
            }
 <script type="text/javascript">

    function dee() {

        if ($("#SelDist").val() == "") {

            $("#reqsession").slideDown("slow");
            return false;
        }
            return true;

    }
    function deechange() {
        if ($("#SelDist").val() == "") {
            $("#reqsession").slideDown("slow");
            return false;
        }
        else {
            $("#reqsession").slideUp("slow");
        }
        return true;

    }
  
    
</script>   