@{
    ViewBag.Title = "FinalExamPortalReport";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
@if (Session["SchlE"] != null)
{ }
else
{
    Response.Redirect("~/Login");
}
<h2>Final Exam Print Report</h2>


 <p style="color:#cc0000;font-size:20px">COMING SOON</p>
@*<input type="button" value="Back" onclick="javascript:document.location.href='@Url.Action("FinalExamPortalReport", "Home" )'" />
@if (ViewBag.Message.ToString().Contains("SuccessFully"))
{
    if (ViewBag.Class == 2)
    {
        if (ViewBag.Type == "REG")
        { <iframe id="iframeConsumptionReport" width="100%" height="500" src="~/ExamPortal.aspx?schl=@Session["Schl"].ToString()&printlot=@ViewBag.PrintLot" style=" border:none; padding:0; margin:0;"></iframe>}
        else
            if (ViewBag.Type == "OPEN")
        { <iframe id="iframeConsumptionReport" width="100%" height="500" src="~/MatricExamPortalOpen.aspx?schl=@Session["Schl"].ToString()&printlot=@ViewBag.PrintLot" style=" border:none; padding:0; margin:0;"></iframe>}
    }
    else if (ViewBag.Class == 4)
    {
        if (ViewBag.Type == "REG")
        {   <iframe id="iframeConsumptionReport" width="100%" height="500" src="~/SeniorExamPortal.aspx?schl=@Session["Schl"].ToString()&printlot=@ViewBag.PrintLot" style=" border:none; padding:0; margin:0;"></iframe>}
        else
            if (ViewBag.Type == "OPEN")
        {   <iframe id="iframeConsumptionReport" width="100%" height="500" src="~/SeniorExamPortalOpen.aspx?schl=@Session["Schl"].ToString()&printlot=@ViewBag.PrintLot" style=" border:none; padding:0; margin:0;"></iframe>}
    }
}
else
{
    <p style="color:#cc0000">@ViewBag.Message</p> }*@




