@model PSEBONLINE.Models.Printlist
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<style type="text/css">
       .listitm {font-size:18px;font-weight:400;padding:25px 0}
        .listitm span {color:#cc0000;
        }
</style>
<h1>Sample Documents   
    <span style="visibility:hidden">
        @if (Session["Session"] != null)
        {@Session["Session"].ToString()}
        else { Response.Redirect("~/Login"); }
    </span> 
</h1>


<div class="KDBG">
    <div class="row">
        <div class="col-md-12">
           @* </samp> <span>2<sup>nd</sup> Feb 2017</span> - <h1 style="color:#cc0000">Kindly make entry of M1 & T1 registration form on or before 23/11/2016 to avoid late fees.</h1>*@&nbsp;<br />
            <a href="/PDF/matsample.pdf" target="_blank" class="listitm">
                <samp>&#10093;</samp> Sample OMR Sheet for Matriculation Students. <img src="/images/new.gif" alt="new" /></a>

            <br />&nbsp;<br />
            <a href="/PDF/matback.pdf" target="_blank" class="listitm">
                <samp>&#10093;</samp> OMR Sheet Instructions for Matriculation Students. <img src="/images/new.gif" alt="new" /></a>

            <br />&nbsp;<br />
            <a href="/PDF/sssample.pdf" target="_blank" class="listitm">
                <samp>&#10093;</samp> Sample OMR Sheet for Senior Secondary Students. <img src="/images/new.gif" alt="new" /></a>

            <br />&nbsp;<br />
            <a href="/PDF/ssback.pdf" target="_blank" class="listitm">
                <samp>&#10093;</samp> OMR Sheet Instructions for Senior Secondary Students. <img src="/images/new.gif" alt="new" /></a>




                <p style="height:150px"></p>
</div>
        @*<div class="col-md-5">
              <h1>Results</h1>
            </div>*@


    </div>
</div>



