@model PSEBONLINE.Models.PrinterModel
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_BookSupplyLayout.cshtml";
}

<style type="text/css">
    .opl {
        padding-bottom: 200px
    }

        .opl li {
            padding: 5px 0
        }
</style>
<h1>Welcome to Punjab School Education Board Online Registration - Session :<span class="rqf">@Session["Session"]</span></h1>

<div class="row">
    <div class="col-md-6">
        <ul class="ullist">
            @if (Session["BookSupplyType"].ToString() == "A")
            {
                <li><samp>❭</samp> <a href="BookPrintMaster"> Book Master</a></li>
                <li><samp>❭</samp> <a href="BooksForPrinting"> Books For Printing</a></li>
                <li><samp>❭</samp> <a href="ViewBooksForPrinting">View Books For Printing</a></li>

            }
            else if (Session["BookSupplyType"].ToString() == "P")
            {
                <li><samp>❭</samp> <a href="ViewBooksForPrinting">View Books For Printing</a></li>
                <li><samp>❭</samp> <a href="SupplyofBooks">Supply Of Books</a></li>
                <li><samp>❭</samp> <a href="ViewSupplyofBooks">View Supply Of Books Lot</a></li>
            }
            <li><samp>❭</samp> <a href="ViewProfile/@Session["PrinterUserId"].ToString()"> Click here to View/Update Profile</a></li>
            <li><samp>❭</samp> @Html.ActionLink("Click Here to Change Password", "ChangePassword", "BookSupply")</li>

        </ul>
    </div>
    <div class="col-md-9">
    </div>
</div>

