body {
    background-color: #ffffff;
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
       font-size: 13px;
    font-weight: bold;
    line-height: 20px;margin:0;
}
h1, h2, h3, h4, h5, h6 {
    color: #373c40;
    font-weight: 400;
    margin-top: 3px;font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #555555;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #a82b0c;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    color: #888888;
}
h1, h2, h3 {
    margin-bottom: 20px;
}
h4, h5, h6 {
    margin-bottom: 8px;
}
a {
    text-decoration: none !important;
}
a:focus {
    outline: medium none;
}
ul, ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}


h4 {background-color:#336dc0;color:#fff;padding:5px }
.active-tr {background-color:#336dc0;color:#fff;}
.active-tr:hover {background-color:#336dc0 !important;color:#fff;
    }
.img-circlea {border-radius:35%
}
.colorgraph {background-color:#ccc;
}

.form-signin {
    background-color: #eee;
    border: 3px dotted rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 420px;
    padding: 30px 38px 66px;margin-top:70px;margin-bottom:20px;
}

.card-container.card {
    max-width: 350px;
    padding: 40px;
}
.card {
    background-color: #f7f7f7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin: 50px auto 25px;
    padding: 20px 25px 30px;
}
charset {display:block
}
.bg{background-image: url('https://live.psebonline.in/Reserved.ReportViewerWebControl.jpg');}
@font-face {
    font-family: "PNB-TTAmarEN";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/pnbam3bt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pnbam3bt-webfont.woff") format("woff"), url("../fonts/pnbam3bt-webfont.ttf") format("truetype");
}