body {
    /*/padding-top: 50px;
    padding-bottom: 20px;*/
    
}
.header {padding:10px 0;background-color:#336dc0 }
.header_outer {padding:10px 0;background-color:#336dc0;border-bottom:4px solid #fb9709 }
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
h1 {border-bottom:1px dashed #ccc;font-size:28px;padding:6px 0
}
.active-bg {padding-top:10px;padding-bottom:10px
}
.dropdown-toggle {font-size:12px
}
.cart {cursor:pointer;position: relative;display: inline-block;color:#000;border-top:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;width:98%}
#sidebar {display: none;}
.cart:hover {border-top-color:#fb9709;border-left-color: #fb9709;border-right-color:#fb9709}
.cart:hover #sidebar {position: absolute;z-index: 1;top: 100%; display: block;background-color:#fb9709;cursor:pointer;}
#sidebar li {list-style:none;}
#sidebar li a {color:#fff;padding:4px;cursor:pointer;border-bottom:1px solid #fff;display:block}
#sidebar li a:hover {background-color:#336dc0;color:#fff}
.tbm {padding:15px 0}
.kdslist{margin-top:75px;margin-bottom:120px}.kdslist li {font-size:16px;}
.kdslist li a {color:#a82b0c;font-size:16px;line-height:28px}
.kdslist li a:hover {color:#cc0000;text-decoration:underline}
#t01 {text-transform:uppercase}#t02 td{padding:10px 8px 0 8px }
.iframeh {height:320px}
.rqf{color:#cc0000}
.rqfst{color:#fff;font-size:11px;background-color: #cc0000;padding: 2px 8px;font-weight:bold !important;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
#t01 select {font-size:10px;padding:0}
.close{color:#cc0000;opacity:1 !important}
















img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], button[disabled], html input[disabled] {
    /*cursor: default;*/font-weight: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    box-sizing: content-box;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
.PagerContainerTable tbody tr td, th {
    padding: 7px;
}
*::-moz-selection {
    background: #f16543 none repeat scroll 0 0;
    color: #ffffff;
    text-shadow: none;
}
select {
    -moz-appearance: none;    
}
select {
    text-indent: 0.01px;
    text-overflow: "";
}
body {
    background-color: #ffffff;
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
   font-size: 13px;
    font-weight: bold;
    line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
    color: #373c40;
    font-weight: 400;
    margin-top: 3px;font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #555555;
}
/*h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #a82b0c;
}*/
h1 span, h2 span, h3 span,  h5 span, h6 span {
    color: #888888;
}
h4 span{ color: #fff;}
h1, h2, h3 {
    margin-bottom: 10px;
}
h4, h5, h6 {
    margin-bottom: 8px;
}
a {
    text-decoration: none !important;
}
a:focus {
    outline: medium none;
}
ul, ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
p {
    margin-bottom: 20px;
    text-align: justify;
}
.custom-transition {
    transition: all 0.2s ease-in-out 0s;
}
p a {
    color: #f16543;
    transition: all 0.2s ease-in-out 0s;
}
p a:hover {
    color: #333333;
}
a:visited {
    color: inherit;
    text-decoration: none;
}
a:focus {
    color: inherit;
    text-decoration: none;
}
/*, button, textarea*/
/*input {
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 1px;
     color: #555;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: inherit;
    margin-bottom: 10px;
    padding: 8px 6px;
    width: 100%;
}*/
.dropdown {cursor:pointer
}
label {
 background-color: #dddddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-weight: 400;
    line-height: inherit;
    margin-bottom: 10px;
    padding: 1px 6px;min-height:28px;
    width: 100%;text-transform:uppercase;
}
input[type="text"] {
 background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-weight: 400;
    line-height: inherit;
    margin-bottom: 6px;
    padding: 3px 6px;
    width: 100%;text-transform:uppercase;
}
input[type="file"] {
 background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 13px;
    font-weight: 400;
    line-height: inherit;
    margin-bottom: 0px;
    padding: 1px 6px;
    width: 100%;
}

input[type="password"] {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: inherit;
    margin-bottom: 10px;
    padding: 6px 6px;
    width: 100%; 
}
/*
select {
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 1px;
    color: #555;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: inherit;
    margin-bottom: 6px;
    padding: 8px 6px;
    width: 100%;
}
select{
    -moz-appearance: none;
    background: #f8f8f8 url("https://www.psebonline.in/images/arrowdown.gif") no-repeat scroll 98% 50%;
    border: medium none;
    border: 1px solid #ccc;
    border-radius: 4px;    
    cursor: pointer;
    display: inline-block;
     height: 26px;
    margin: 0;
    outline: medium none;
   padding: 2px 2px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  width: 100%;font-weight:normal}
*/

select{
 background-color: #fff;
   background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;font-weight: normal;
    height: 26px;
    line-height: 1.42857;margin-bottom: 10px;
     padding: 2px 2px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;text-transform:uppercase;
    }



.bs-docs-footer {
    background-color: #e7e7e7;border-top:1px solid #fb9709;
    color: #7C7C7C;
    /*margin-top: 50px;*/
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

input[type="submit"]  {
         -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 3px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #fb9709;
    border-color: #f08f06;
    color: #fff;cursor:pointer
}
input[type="button"]  {    
     -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 3px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #fb9709;
    border-color: #f08f06;
    color: #fff;cursor:pointer
}

button {    
     -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 3px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #fb9709;
    border-color: #f08f06;
    color: #fff;cursor:pointer
}
h4 {background-color:#336dc0;color:#fff;padding:5px }
.active-tr {background-color:#336dc0;color:#fff;}
.active-tr:hover {background-color:#336dc0 !important;color:#fff;}
.img-circlea {border-radius:35%}
.colorgraph {background-color:#ccc;}
.fontsize{font-size:22px;line-height:24px;padding:25px;display:block;text-align:justify;}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.btnh {text-align:center !important;font-weight:bold !important; font-size:11px !important}
.ptb {margin-top:6px !important; margin-bottom:6px !important}
#popup1 table {background: #fff none repeat scroll 0 0; border-radius:10px !important;max-width: 310px !important;min-width: 300px !important;height:auto}
.fontsize{font-size:22px;line-height:24px;padding:25px;display:block;text-align:justify; overflow-y: scroll; height: 200px !important;}
}
.form-signin {
    background-color: #eee;
    border: 3px dotted rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 420px;
    padding: 30px 38px 66px;margin-top:70px;margin-bottom:20px;
}

.card-container.card {
    max-width: 350px;
    padding: 40px;
}
.card {
    background-color: #f7f7f7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin: 50px auto 25px;
    padding: 20px 25px 30px;
}
charset {display:block
}
@font-face {
    font-family: "pnb-ttamarenbold";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/pnbam3bt-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/pnbam3bt-webfont.woff") format("woff"), url("/fonts/pnbam3bt-webfont.ttf") format("truetype");
}
.kdsfont {font-family: "pnb-ttamarenbold";font-weight:normal;font-size:20px;text-transform:none !important}
.keyboardInput {font-family: "pnb-ttamarenbold";font-weight:normal;font-size:20px;text-transform:none !important;text-transform: none!important}
.kdsrc {color:#cc0000}
@font-face {
    font-family: "PNB-TTAmarEN";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/pnbam3bt-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/pnbam3bt-webfont.woff") format("woff"), url("/fonts/pnbam3bt-webfont.ttf") format("truetype");
}

.s50 {width:49%;display:inline-block
}
.ui-datepicker-title select{display:inline-block}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;color:#000
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.btn{
    -moz-user-select: none;
    background-color: #fb9709;
    background-image: none;
    border: 1px solid #f08f06;
    border-radius: 4px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 3px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.legend {
    background-color: #fb9709;
    color: #fff;
    padding: 3px 5px;text-align: left;
    
}
.tbp{padding-top:15px;padding-bottom:15px}
.tbps{padding-top:6px;padding-bottom:2px}
.ptb{ display: block;
    margin-top: 18px;
    min-height: 34px;
    padding: 0;}

#t01 a{color:#cc0000}

#t03 { text-transform: none}

.KDBG{background-color: #CCEBFF;padding-bottom:15px}
.twosectio{border:1px solid #ccc;display:block;line-height:24px;padding:10px;min-height:300px;color:#000;margin-bottom:10px}


.twosectiop{border:1px solid #ccc;display:block;line-height:24px;padding:10px;min-height:100px;color:#000;margin-bottom:10px}
.btnh {
  background: #fb9609;
  background-image: -webkit-linear-gradient(top, #fb9609, #de870d);
  background-image: -moz-linear-gradient(top, #fb9609, #de870d);
  background-image: -ms-linear-gradient(top, #fb9609, #de870d);
  background-image: -o-linear-gradient(top, #fb9609, #de870d);
  background-image: linear-gradient(to bottom, #fb9609, #de870d);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-family: Arial;
  color: #fff !important;
  font-size: 16px;font-weight:normal;
  padding: 7px 20px;
  text-decoration: none;
}
.textnone{ text-transform: none !important}

.btnh:hover {
  background: #de870d;
  background-image: -webkit-linear-gradient(top, #de870d, #fb9609);
  background-image: -moz-linear-gradient(top, #de870d, #fb9609);
  background-image: -ms-linear-gradient(top, #de870d, #fb9609);
  background-image: -o-linear-gradient(top, #de870d, #fb9609);
  background-image: linear-gradient(to bottom, #de870d, #fb9609);
  text-decoration: none;
}
.hr {
    background-image: -webkit-linear-gradient(left center , #fff, #ccc, #fff);
    background-image: -moz-linear-gradient(left center , #fff, #ccc, #fff);
    background-image: -ms-linear-gradient(left center , #fff, #ccc, #fff);
    background-image: -o-linear-gradient(left center , #fff, #ccc, #fff);
  background-image: linear-gradient(left center , #fff, #ccc, #fff);
    border: medium none;
    display: block;
    height: 1px;
    left: 25%;
    margin: .5em 0;
    padding: 0;
    position: relative;
    width: 50%;
}

.blink_text { 
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite; color: #fb9709;font-size:16px
} 

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.8; }
    100% { opacity: 1.0; } 
}

@-webkit-keyframes blinker { 
    0% { opacity: 1.0; }
    50% { opacity: 0.8; }
    100% { opacity: 1.0; } 
} 

@keyframes blinker { 
    0% { opacity: 1.0; } 
    50% { opacity: 0.8; } 
    100% { opacity: 1.0; } 
}

.shadow {
    background: rgba(0, 0, 0, 0) url("../images/shadow.png") no-repeat scroll center bottom;
    display: block;
}

.redc{color:#f16543}
.panel-body samp{color:#cc0000}
.ullist li {padding:6px 4px;font-size:16px}
.ullist {padding-bottom:100px}
.ullist li a {color:#DB8104}
.ullist .kdsfont {padding-left:9px}

.printtxt {display:none;text-align:center;padding:15px 0 5px 0}
   @media print {
    .printtxt {display:block;text-align:center;padding:15px 0 5px 0
    }
}
input[type="email"] {
 background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-weight: 400;
    line-height: inherit;
    margin-bottom: 6px;
    padding: 3px 6px;
    width: 100%;text-transform:uppercase;
}
textarea {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-weight: 400;
    line-height: inherit;
    margin-bottom: 6px;
    padding: 3px 6px;
    width: 100%;text-transform:uppercase;
}
@media print {
    .noprintsec {display:none !important
    }
}


        .blinker {
            font-family: muli,arial,sans-serif;
            font-size: 20px;
            font-weight: bold;
            color: #333;
            animation: changecolor 2s infinite;
            
        }
        .blinkera {
            font-family: muli,arial,sans-serif;
            font-size: 20px;
            font-weight: bold;
            color: #333;
            animation: changecolora 2s infinite;
            
        }

        @keyframes changecolor {
           0% {
                color: red;
            }

            100% {
                color: blue;
            }
        }
        /* Mozilla Browser */
        @-moz-keyframes changecolor {
            0% {
                color: red;
            }

            100% {
                color: blue;
            }

        }
        /* WebKit browser Safari and Chrome */
        @-webkit-keyframes changecolor {
            0% {
                color: red;
            }

            100% {
                color: blue;
            }

        }
        /* IE 9,10*/
        @-ms-keyframes changecolor {
            0% {
                color: red;
            }

            100% {
                color: blue;
            }
        }
        /* Opera Browser*/
        @-o-keyframes changecolor {
            0% {
                color: red;
            }

            100% {
                color: blue;
            }
        }


        /*000*/
         @keyframes changecolora {
           0% {
                color: blue;
            }

            100% {
                color: red;
            }
        }
        /* Mozilla Browser */
        @-moz-keyframes changecolora {
            0% {
                color: blue;
            }

            100% {
                color: red;
            }

        }
        /* WebKit browser Safari and Chrome */
        @-webkit-keyframes changecolora {
           0% {
                color: blue;
            }

            100% {
                color: red;
            }

        }
        /* IE 9,10*/
        @-ms-keyframes changecolora {
            0% {
                color: blue;
            }

            100% {
                color: red;
            }
        }
        /* Opera Browser*/
        @-o-keyframes changecolora {
            0% {
                color: blue;
            }

            100% {
                color: red;
            }
        }


.kds-nu textarea{text-transform:inherit !important}
.kdsfont-n{text-align: justify;font-size: 14px;line-height: 26px;font-weight: normal;padding:0 17px;}