@model PSEBONLINE.Models.OnDemandCertificatesLoginModel
@{

    Layout = "~/Views/Shared/_Login_Header.cshtml";
}
<style type="text/css">
    .form-signin {
        background-color: #eee;
        border: 3px dotted rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        margin-top: 0px;
        margin-bottom: 20px !important;
        max-width: 420px;
        padding: 30px 38px 30px !important;
        margin-top: 40px !important;
    }

    .lst span {
        color: #cc0000
    }
</style>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet" type="text/css" />
<link href="/Content/css/font-awesome.min.css" rel="stylesheet" />
<style>
    .input-validation-error {
        background-color: #FF9494 !important;
        border: solid 1px Red !important;
    }
	h1{font-size:22px;margin-bottom:15px;font-family: 'Merienda One', cursive;  font-family: 'Merienda One', cursive;padding-bottom:6px;}
</style>
<h1>Apply On-Demand Certificate For March 2021</h1>


<div class="row">
<div class="col-md-6">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Notice Board</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul style="height:318px">
                                
                                <li>								
								<a href="/PDF/InstructionforOnDemandCertificateIndividual.pdf" target="_blank"><samp>❭</samp> Instruction for On Demand Certificate <img src="/images/new.gif" alt="new"></a>
								</li>
<li>	<a href="#"<samp>❭</samp> Date For On Demand Certificate for Senior Secondary/Matriculation Exam March 2021 has been extended till 30th October 2021 . <img src="/images/new.gif" alt="new"></a> </li>								
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

<div class="col-md-6">
<div class="" style="border:2px solid #ccc;padding:10px 50px;background-color:#f1f1f1;margin-bottom:30px">
<form class="form-signin" name="Login_Form" method="post" action="">
    <h3 class="form-signin-heading text-center">Login Panel</h3>
    <br />
    @Html.DropDownListFor(m => m.RP, new SelectList(ViewBag.MyRPList, "Value", "Text"), "--Select Exam Type---", new { required = "required", @class = "form-control" })
    @Html.TextBoxFor(m => m.ROLL, new { placeholder = "Enter Roll Number", @class = "form-control", required = "required", maxlength = "10", style = "text-transform: none;" })
    @Html.TextBoxFor(model => model.REGNO, new { @class = "form-control", placeholder = "Enter Registration Number", maxlength = "25", required = "required", style = "text-transform: none;" })
    <p style="text-align:center"><input type="submit" value="Login" />&nbsp;&nbsp;&nbsp;</p>
</form>
</div>
</div>

</div>

<div class="clearfix"></div>
<div class="col-md-12 text-center">
    @*<div class="text-center" style="color:#cc0000;font-weight:bold;font-size:20px;line-height:36px">Last date to apply On Demand Certificate  is 30-09-2021. After this date no application will be accepted.</div>*@
</div>
<div class="clearfix"></div>
<div class="col-md-12"><div style="border-top:1px dashed #ccc;padding-top:10px"></div></div>
<div class="clearfix"></div>
<div class="col-md-2">
    Toll Free Help Line No.<br />
    For Technical Support
</div>
<div class="col-md-3">
    <span style="font-size:26px">
        8058911911<br /><span style="font-size:10px"></span><br />
        <span style="font-size:12px"><i class="fa fa-envelope"></i> <a href="mailto:psebhelpdesk@gmail.com" target="_blank" class="redc">psebhelpdesk@gmail.com</a></span>
    </span>
</div>
<div class="col-md-1">
</div>
@*<div class="col-md-1"></div>*@
<div class="col-md-2">
    Contact No.<br />
</div>
<div class="col-md-4">
    <span style="font-size:14px">
        0172-5227310 <br />0172-5227291 <br />
        <span style="font-size:11px"> </span><br /><span style="font-size:12px">@*<i class="fa fa-envelope"></i> <a href="mailto:branchaffiliation@gmail.com" target="_blank" class="redc">branchaffiliation@gmail.com</a>*@</span>
    </span>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {
        $("#dPending").dialog({
            modal: true,
            title: "Alert",
            width: 400,
            height: 250,
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                },
            }
        });
    });
</script>
@{
    if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() == "0")
        {
            <div id="dPending" style="font-size:24px;display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">Wrong Credentials..Plz try again with valid Credentials</span>
            </div>
        }
        else if (ViewData["result"].ToString() == "10")
        {
            <div id="dPending" style="font-size:24px;display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">You cannot login due to school have already applied </span>
            </div>
        }
        else if (ViewData["result"].ToString().Contains("Error"))
        {
            <div id="dPending" style="font-size:24px;display: none;padding:30px 10px" align="center" class="kdsfont">
                <span class="rqf">@ViewData["result"]</span>
            </div>
        }
    }
}




