@model PSEBONLINE.Models.PrivateCandidateModels
@{
    //Layout = "~/Views/Shared/_BankLayout.cshtml";
    Layout = "~/Views/Shared/_Login_Header.cshtml";
}

@using (Html.BeginForm("PrivateRefrenceUnlockPage", "PrivateCandidate", FormMethod.Post, new { id = "refno", enctype = "multipart/form-data" }))
{
<h1>Matric/Senior Secondary Supplementary Exam Unlock Application </h1>
    
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="padding:60px 0 260px"> @Html.TextBoxFor(a => a.refNo, new { id = "refNo", @maxlength = "13", @class = "form-control", placeholder = "Enter Reference Number" })
    <input type="submit" value="Submit" onclick="return valForm();" /></div>
        <div class="col-md-4"></div>

    </div>
    
}

