@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<div class="row">
<div class="col-md-12">
    <input type="button" value="Back" onclick="javascript:document.location.href='@Url.Action("Portal", "RegistrationPortal" )'" />
    <p style="text-align:center;font-size:24px;padding-top:80px;padding-bottom:300px">
        @ViewBag.Message
    </p>
</div></div>
