
@{
    ViewBag.Title = "SchoolAdmitCardList";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

<h1>Admit Card For Session
@if (Session["Session"] != null)
        {@Session["Session"].ToString()}
        else { Response.Redirect("~/Login"); }</h1>


<div class="row">
    @*<div class="col-md-12 text-right" style="display:none"><input type="button" value="Back" onclick="javascript:document.location.href='@Url.Action("Index", "School" )'" /></div>*@
        <div class="col-md-12">
		@if (ViewBag.IsFinalSubmit == "1")
         {             
			<ul class="ullist">
              

             @if (ViewBag.Matric == "1")
            {

                    <li><a href="/RegistrationPortal/FinalPrintMatricAdmitCard"><samp>&#10093;</samp> Matric Regular Admit Card </a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="/School/CutList_Schl/ME"> Matric Regular Error List</a></li>
                }
                 @if (ViewBag.OMatric == "1")
                {

                    <li><a href="/RegistrationPortal/FinalPrintMatricOpenAdmitCard"><samp>&#10093;</samp> Matric Open Admit Card</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="/School/CutList_Schl/MOE"> Matric Open Error List</a></li>
                }



                @if (ViewBag.Senior == "1")
            {

                    <li><a href="/RegistrationPortal/FinalPrintSeniorAdmitCard"><samp>&#10093;</samp> Senior Regular Admit Card </a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="/School/CutList_Schl/SE"> Senior Regular Error List</a></li>
                }
                @if (ViewBag.OSenior == "1")
            {

                    <li><a href="/RegistrationPortal/FinalPrintSeniorOpenAdmitCard"><samp>&#10093;</samp> Senior Open Admit Card</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="/School/CutList_Schl/SOE"> Senior Open Error List</a></li>
                }
            </ul>
         }
         else
         {
            <ul class="ullist redc" >
                <li style="display:block">Admit Card cannot be generated due to your School's Infrastructure Performa is not Filled/Final Submitted. </li>
            </ul>         
         }
</div>
    </div>


