@model PSEBONLINE.Models.RegistrationModels
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

<!-- #region datatables files -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
@*<script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>*@
<!-- #endregion -->

<h1>
    Correction Performa Final Print - Session @if (Session["Session"] != null)
    {@Session["Session"].ToString()}
else { Response.Redirect("~/Login"); }
</h1>

@using (Html.BeginForm("SchoolCorrectionFinalPrintList", "RegistrationPortal", FormMethod.Post, new { id = "CorrectionLot" }))
{
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12" style="text-align:right;font-size:20px;">
            <a href="/School/SchoolCorrection" class="btn">Verify Corrections</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:history.back()" class="btn">Back</a>

        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="example" class="display table table-bordered" style="width:100%">
                            <thead>
                                <tr class="active-tr">
                                    <th>Serial No.</th>
                                    <th>Correction Lot</th>
                                    <th>Class</th>
                                    <th>Correction Field</th>
                                    <th>Final Submitted Date</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int Count = 0;
                                    if (ViewBag.TotalCountadded > 0)
                                    {
                                        int d = 0;

                                        for (int i = 0; i < Model.Correctiondata.Tables[0].Rows.Count; i++)
                                        {
                                            d = d + 1;
                                            var CorrectionLot = Model.Correctiondata.Tables[0].Rows[i]["CorrectionLot"].ToString();
                                            var Class = Model.Correctiondata.Tables[0].Rows[i]["Class"].ToString();
                                            var CorrectionField = Model.Correctiondata.Tables[0].Rows[i]["CTypeNM"].ToString();
                                            var CorrectionFinalSubmitDt = Model.Correctiondata.Tables[0].Rows[i]["CorrectionFinalSubmitDt"].ToString();
                                            Count = Count + 1;
                                            <tr>
                                                <td>
                                                    @Count
                                                </td>
                                                <td>
                                                    @CorrectionLot
                                                </td>
                                                <td>
                                                    @Class
                                                </td>
                                                <td>
                                                    @CorrectionField
                                                </td>
                                                <td>
                                                    @CorrectionFinalSubmitDt
                                                </td>
                                                <td>
                                                    <div class="cart">
                                                        @Html.ActionLink("Print", "SchoolCorrectionPerformaFinalPrintSession", new { id = CorrectionLot })
														       <a href="/School/SchoolCorrection" class="btn">Verify Corrections</a>
                                                    </div>
                                                </td>

                                            </tr>
                                        }
                                    }
                                    if (ViewBag.TotalCountaddedSub > 0)
                                    {
                                        int d = 0;
                                        //int Count = 0;
                                        for (int i = 0; i < Model.Correctiondata.Tables[1].Rows.Count; i++)
                                        {
                                            d = d + 1;
                                            var CorrectionLot = Model.Correctiondata.Tables[1].Rows[i]["CorrectionLot"].ToString();
                                            var Class = Model.Correctiondata.Tables[1].Rows[i]["Class"].ToString();
                                            var CorrectionField = Model.Correctiondata.Tables[1].Rows[i]["CTypeNM"].ToString();
                                            var CorrectionFinalSubmitDt = Model.Correctiondata.Tables[1].Rows[i]["CorrectionFinalSubmitDt"].ToString();
                                            Count = Count + 1;
                                            <tr>
                                                <td>
                                                    @Count
                                                </td>
                                                <td>
                                                    @CorrectionLot
                                                </td>
                                                <td>
                                                    @Class
                                                </td>
                                                <td>
                                                    @CorrectionField
                                                </td>
                                                <td>
                                                    @CorrectionFinalSubmitDt
                                                </td>
                                                <td>
                                                    <div class="cart">
                                                        @Html.ActionLink("Print", "SchoolCorrectionPerformaFinalPrintSession", new { id = CorrectionLot })
                                                    </div>
                                                </td>

                                            </tr>
                                        }
                                    }
                                    if (ViewBag.TotalCountaddedStream > 0)
                                    {
                                        int d = 0;
                                        //int Count = 0;
                                        for (int i = 0; i < Model.Correctiondata.Tables[2].Rows.Count; i++)
                                        {
                                            d = d + 1;
                                            var CorrectionLot = Model.Correctiondata.Tables[2].Rows[i]["CorrectionLot"].ToString();
                                            var Class = Model.Correctiondata.Tables[2].Rows[i]["Class"].ToString();
                                            var CorrectionField = Model.Correctiondata.Tables[2].Rows[i]["CTypeNM"].ToString();
                                            var CorrectionFinalSubmitDt = Model.Correctiondata.Tables[2].Rows[i]["CorrectionFinalSubmitDt"].ToString();
                                            Count = Count + 1;
                                            <tr>
                                                <td>
                                                    @Count
                                                </td>
                                                <td>
                                                    @CorrectionLot
                                                </td>
                                                <td>
                                                    @Class
                                                </td>
                                                <td>
                                                    @CorrectionField
                                                </td>
                                                <td>
                                                    @CorrectionFinalSubmitDt
                                                </td>
                                                <td>
                                                    <div class="cart">
                                                        @Html.ActionLink("Print", "SchoolCorrectionPerformaFinalPrintSession", new { id = CorrectionLot })
                                                    </div>
                                                </td>

                                            </tr>
                                        }
                                    }
                                    if (ViewBag.TotalCountaddedPhotoSign > 0)
                                    {
                                        int d = 0;
                                        //int Count = 0;
                                        for (int i = 0; i < Model.Correctiondata.Tables[3].Rows.Count; i++)
                                        {
                                            d = d + 1;
                                            var CorrectionLot = Model.Correctiondata.Tables[3].Rows[i]["CorrectionLot"].ToString();
                                            var Class = Model.Correctiondata.Tables[3].Rows[i]["Class"].ToString();
                                            var CorrectionField = Model.Correctiondata.Tables[3].Rows[i]["CTypeNM"].ToString();
                                            var CorrectionFinalSubmitDt = Model.Correctiondata.Tables[3].Rows[i]["CorrectionFinalSubmitDt"].ToString();
                                            Count = Count + 1;
                                            <tr>
                                                <td>
                                                    @Count
                                                </td>
                                                <td>
                                                    @CorrectionLot
                                                </td>
                                                <td>
                                                    @Class
                                                </td>
                                                <td>
                                                    @CorrectionField
                                                </td>
                                                <td>
                                                    @CorrectionFinalSubmitDt
                                                </td>
                                                <td>
												@Html.ActionLink("Print", "SchoolCorrectionPerformaFinalPrintSessionPS", new { id = CorrectionLot })
                                                    
                                                </td>

                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                                </table>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>


}
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            "responsive": true,
            "lengthMenu": [[25, 50, 100], [25, 50, 100]],
            "processing": true,
            "pageLength": 25,
            "order": [[0, 'asc']],
            language: {
                searchPlaceholder: "Search By Correction Lot"
            },
        })
    });
</script>
