
    <h1>

        Additional Section , Session 2023-24
        @if (Model != null)
        {
            if (ViewBag.ChallanId == null)
            {
                if (Model.ID == 0 || ViewBag.ChallanId == null)
                {
                    <scan class="rqf">Status : Pending</scan>
                }
                else if (Model.ID != 0 && string.IsNullOrEmpty(Model.ChallanId))
                {
                    <scan class="rqf">Status : In Process</scan>
                }
                else if (Model.challanVerify == 0 && !string.IsNullOrEmpty(Model.ChallanId))
                {
                    <scan class="rqf">Status : Fee Not Verified</scan>
                }
                else if (Model.challanVerify == 1 && !string.IsNullOrEmpty(Model.ChallanId))
                {
                    <scan class="rqf">Status : Final Submitted</scan>
                }
            }
            else
            {
                if (ViewBag.AID == 0 || ViewBag.ChallanId == "")
                {
                    <scan class="rqf">Status : Pending</scan>
                }
                else if (ViewBag.AID != 0 && ViewBag.ChallanId.ToString() == "0" || ViewBag.ChallanId.ToString() == "")
                {
                    <scan class="rqf">Status : In Process</scan>
                }
                else if (ViewBag.challanVerify == 0 && ViewBag.ChallanId.ToString() != "0")
                {
                    <scan class="rqf">Status : Fee Not Verified</scan>
                }
                else if (ViewBag.challanVerify == 1 && ViewBag.ChallanId.ToString() != "0")
                {
                    <scan class="rqf">Status : Final Submitted</scan>
                }
            }

        }
    </h1>
