@model PSEBONLINE.Models.AdditionalSectionModel

@if (Model != null)
{

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AdditionalSection/Index">DashBoard</a>
            </h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AdditionalSection/SchoolProfile/@ViewBag.SCHL">School Profile</a>
            </h4>
        </div>
    </div>
    @*<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AdditionalSection/ResultStatics/@ViewBag.SCHL">Result Statics </a>

                </h4>
            </div>
        </div>*@
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AdditionalSection/StudentFeeDetails/@ViewBag.SCHL">Student Count Last 3 Year</a>
            </h4>
        </div>
    </div>

    @*<div class="panel panel-default" style="display:none">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AdditionalSection/BalanceSheet/@ViewBag.SCHL">Balance Sheet</a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default" style="display:none">
            <div class="panel-heading">
                <h4 class="panel-title">

                    <a href="/AdditionalSection/SafetyDetails/@ViewBag.SCHL">Building/Fire Safety Details</a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default" style="display:none">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AdditionalSection/BooksPurchaseDetails/@ViewBag.SCHL">Books Purchase Details</a>
                </h4>
            </div>
        </div>*@


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AdditionalSection/UploadAdditionalSectionDocuments/@ViewBag.SCHL" title="Upload Documents">Upload Documents</a>
            </h4>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AdditionalSection/Activities/@ViewBag.SCHL">Other information</a>
            </h4>
        </div>
    </div>



    @if (Model.challanVerify == 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AdditionalSection/PrintForm/@ViewBag.SCHL">View Application</a>
                </h4>
            </div>
        </div>
    }

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AdditionalSection/CalculateFee/@ViewBag.SCHL">Calculate Fee and Select Sections</a>
            </h4>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AdditionalSection/FinalPrintForm/@ViewBag.SCHL">Print Form</a>
            </h4>
        </div>
    </div>

</div>
}
