<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Punjab School Education Board</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600' rel='stylesheet' type='text/css' />
            <noscript>
            <style type="text/css">
                #HPL {display:none}
            </style>
        <charset style="background-color:#cc0000;color:#ffd800;font-size:24px;text-align:center;padding:10px 0">Your browser does not support JavaScript!</charset>

    </noscript> 
    <script language="javascript" type="text/javascript">
         function Printme() {
             document.getElementById("aback").style.visibility = "hidden";
             document.getElementById("btnPrint").style.visibility = "hidden";
             document.getElementById("btnclose").style.visibility = "hidden";
             window.print();
             document.getElementById("aback").style.visibility = "visible";
             document.getElementById("btnPrint").style.visibility = "visible";
             document.getElementById("btnclose").style.visibility = "visible";
         }
    </script>
   
</head>
<body>
        <div id="HPL">
    
    <div class="container">
        @RenderBody()
    </div>

             </div> 
</body>
</html>