.kdcs-wt-color, .kdcs-or-color, .kdcs-font-12, .kdcs-font-16, .kdcs-font-color-sm {font-family: Arial,Helvetica,sans-serif}
.kdcs-wt-color {color: #fff}.kdcs-or-color {color: #fb9709}.kdcs-font-12 {font-size: 12px}.kdcs-font-16 {font-size: 16px}
#ac-wrapper{background:rgba(0,0,0,0.5) none repeat scroll 0 0;height:100%;left:0;position:fixed;top:0;width:100%;z-index:1001}
#popup{background:#fff none repeat scroll 0 0;border:5px solid #f1f1f1;border-radius:25px;box-shadow:0 0 3px 3px #64686e;min-height:280px;left:35%;padding:10px 20px 0;position:absolute;top:128px;width:30%}
.btndn{display:inline-block;padding:10px 0;color:#fff!important;font-size:22px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:100px;margin:8px 0 0;width:90%}
.dataTables_length label, .dataTables_filter label {
    background-color: inherit !important;
    border: inherit !important;
    box-shadow: inherit !important;
    font-weight: bold;
    color: #333
}
.tip {
    display: inline;
    position: relative;
    background-color: #cc0000;
    padding: 4px 6px;
    color: #fff;
}
.tip:hover{color:#fff}
.dataTables_filter .form-control {
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
}