@{
    ViewBag.Title = "Atom Settlement API";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}

@{
    if (TempData["resultStatusError"] != null)
    {
        if (TempData["resultStatusError"].ToString().ToUpper() == "SUCCESS")
        {
    <div class="row">
        <div class="col-md-12 text-center">
            <br />
            Atom Last ID :<span style="font-size:18px;"> @ViewBag.lastId</span>
        </div>
        <div class="col-md-12 text-center">
            <br />
            Total Records :<span class="text-primary">@TempData["resultStatus"].ToString()</span>
        </div>
    </div>
        }
        else
        {
<div class="row">
    <div class="col-md-12 text-center">
        <br />
       Atom Last ID :<span style="font-size:18px;">@ViewBag.lastId</span>
    </div>
    <div class="col-md-12 text-center">
        <br />
        <span class="rqf" style="font-size:20px;">@TempData["resultStatusError"].ToString()</span>
    </div>
</div>

        }
    }

}
