@model PSEBONLINE.Models.PaymentSuccessModel
@{
    ViewBag.Title = "Payment Cancelled";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}


<table width="600" align="center" cellpadding="5" cellspacing="5" border="0">
    <tr>
        <td align="left"><img src="/Images/Printlogo.jpg" height="75" alt="PSEB" /></td>
        <td align="right"><img src="/Images/HDFC.jpg" width="200" height="75" alt="HDFC" /></td>
    </tr>
    <tr>
        <td align="center" colspan="2"><h4>Punjab School Education Board</h4></td>
    </tr>
    <tr>
        <td colspan="2">
            <h1>Thank You!</h1>
            <p>Thank you for your payment with the details below:</p>
        </td>
    </tr>
    <tr><td colspan="2"></td></tr>
    <tr>
        <td colspan="2"><h1>Transaction Acknowledgment</h1></td>
    </tr>
    <tr>
        <td>Transaction Status</td>
        <td class="suc">Cancelled</td>
    </tr>
    <tr>
        <td class="fieldName" width="30%">Transaction Id</td>
        <td class="fieldName" align="left" width="70%">@Model.tracking_id</td>
    </tr>
    <tr>
        <td class="fieldName" width="30%">Payment Id</td>
        <td class="fieldName" align="left" width="70%">@Model.order_id</td>
    </tr>
    <tr>
        <td class="fieldName" width="30%">Bank Reference</td>
        <td class="fieldName" align="left" width="70%"></td>
    </tr>
    <tr>
        <td class="fieldName" width="30%">Transaction Date</td>
        <td class="fieldName" align="left" width="70%"></td>
    </tr>
    <tr>
        <td class="fieldName" width="30%">Amount</td>
        <td class="fieldName" align="left" width="70%">@Model.amount</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <br /><input type="button" value="Print" class="btn" onclick="window.print()" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://registration2023.pseb.ac.in/Login" class="btn">Go To Home</a>


        </td>
    </tr>
</table>

