@{
    ViewBag.Title = "FinalPrintReport";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
@if (Session["SchlE"] != null)
{ }
else
{
    Response.Redirect("~/Login");
}
<h1>Final Print Report</h1>
<div class="row">
    <div class="col-md-10">
        <div id="loading-image" style="color:#cc0000;font-size:16px">Downloading PDF Please wait <img src="/images/fbloader.gif" /></div>

    </div>
    <div class="col-md-2 text-center">
        <input type="button" value="Back" onclick="javascript:document.location.href='@Url.Action("FinalPrint", "Home" )    '" />

    </div>

</div>

@if (ViewBag.Message.ToString().Contains("SuccessFully"))
{
    @*<p style="color:#cc0000">@ViewBag.Message</p>*@
    @*<iframe id="iframeConsumptionReport" width="100%" height="500" src="~/Finalprint.aspx" style=" border:none; padding:0; margin:0;"></iframe>*@
 <iframe id="iframeConsumptionReport" width="100%" height="500" src="~/Finalprint.aspx?schl=@Session["Schl"].ToString()&lot=@Session["PrintLot"].ToString()" style=" border:none; padding:0; margin:0;"></iframe>
   
}
else
{
<p style="color:#cc0000">@ViewBag.Message</p>


}
<script>
    jQuery(window).load(function() {
        jQuery('#loading-image').hide();
    });
</script>




