@model PSEBONLINE.Models.Printlist

@{
    Layout = "~/Views/Shared/_Home_Header.cshtml";
}
<style type="text/css">
    #ac-wrapper {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}
#popup {
    background: #fff none repeat scroll 0 0;
    border: 5px solid #f1f1f1;
    border-radius: 25px;
    box-shadow: 0 0 3px 3px #64686e;
    min-height: 280px;
    left: 35%;
    padding: 10px 20px 0;
    position: absolute;
    top: 128px;
    width: 30%;
}
</style>
<div class="KDBG">
<div class="row">
    <div class="col-md-12">
        <img src="/images/PSEB_Slider.jpg" class="img-responsive" />
  @*<div class="col-md-12">
    <div id="myCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<iframe src="https://www.youtube.com/embed/nmNSiLyPbRE?controls=0" allowfullscreen="" width="100%" height="380" frameborder="0"></iframe>
			</div>
			<div class="item">
				<iframe src="https://www.youtube.com/embed/kKhgoQfsUIE?controls=0" allowfullscreen="" width="100%" height="380" frameborder="0"></iframe>
			</div>
			<div class="item">
				<iframe src="https://www.youtube.com/embed/4AJiI82OgYY?controls=0" allowfullscreen="" width="100%" height="380" frameborder="0"></iframe>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>*
	</div>*@
</div>






    @*<div class="col-md-4">
    https://www.youtube.com/embed/nmNSiLyPbRE?controls=0
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/nmNSiLyPbRE" frameborder="0" allowfullscreen></iframe>
    </div>
	 <div class="col-md-4">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/kKhgoQfsUIE" frameborder="0" allowfullscreen></iframe>

    </div>
	 <div class="col-md-4">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/4AJiI82OgYY" frameborder="0" allowfullscreen></iframe>
    </div>*@
<div class="clearfix"></div>
<div class="col-md-12">
<div class="shadow">&nbsp;</div>
</div>
<div class="clearfix"></div>
<div class="col-md-12">
@*<p style="color:#cc0000;font-size:16px;text-align:center;margin:0;padding-top:6px">ਆਨ-ਲਾਈਨ ਰਜਿਸਟ੍ਰੇਸ਼ਨ ਦੀ ਇੰਨਕੁਆਰੀ ਨੂੰ ਹੱਲ ਕਰਨ ਲਈ ਕੰਪਿਊਟਰ ਸੈੱਲ ਮਿਤੀ 12-11-2016 ਅਤੇ 13-11-2016 ਨੂੰ ਸਵੇਰੇ 10 ਤੋਂ  2 ਵਜੇ ਤੱਕ ਆਮ ਪਬਲਿਕ ਲਈ ਖੁੱਲਾ ਰਹੇਗਾ|</p>*@

   @* <p><a href="https://middleprimary.pseb.ac.in/" style="color:#cc0000;font-size:16px;text-align:center;margin:0;padding-top:6px;display:block">
    Primary & Middle School Login Session 2023-24 <img src="/images/new.gif" alt="new" /></a></p>*@

<marquee onmouseout="this.setAttribute('scrollamount', 6, 0);" onmouseover="this.setAttribute('scrollamount', 0, 0);" direction="left" scrollamount="4" style="padding:10px 0;cursor:pointer">
<b><i>DISTRICTS:-</i></b> BARNALA, FATEHGARH SAHIB, GURDASPUR, HOSHIARPUR, JALANDHAR, KAPURTHALA, SHRI MUKTSAR SAHIB, S.B.S. NAGAR, PATHANKOT, PATIALA, SANGRUR, CHANDIGARH & OTHER STATES -  Email Id: <a href="mailto:psebhelpdesk@gmail.com" target="_blank" class="redc">psebhelpdesk@gmail.com</a> / Toll Free Help Line No. : <span class="redc">8058911911</span> <br />
@*<b><i>DISTRICTS:-</i></b> AMRITSAR, BATHINDA, FARIDKOT, FAZILKA, FEROZEPUR, LUDHIANA, MANSA, MOGA, ROOP NAGAR, S.A.S NAGAR,TARN TARAN / Email Id: <a href="mailto:psebhelpdesk@gmail.com" target="_blank" class="redc">psebhelpdesk@gmail.com</a> / Toll Free Help Line No. : <span class="redc">8058911911</span> <br />*@
@*<span style="color:#cc0000;">After Final Submission in Registration Portal. Please generate Examination Fee Challan in Examination Portal before 23-11-2016 to avoid late fee.</span>*@ 
</marquee>
</div>


<div class="clearfix"></div>

  
    <div class="col-md-6">
        <div class="twosectio">
            <h4>Important Links</h4>
            <div style="overflow-y:scroll;height: 220px;">
                @{

                    if (ViewBag.TotalCircular > 0)
                    {
                        int d = 0;
                        int Count = 0;
                        DateTime sDate = DateTime.Today;
                        if (ViewBag.CircularCount > 0)
                        {
                            for (int i = 0; i < Model.dsCircular.Rows.Count; i++)
                            {
                                d = d + 1;
                                var ID = Model.dsCircular.Rows[i]["ID"].ToString();
                                var CircularNo = Model.dsCircular.Rows[i]["CircularNo"].ToString();
                                var Title = Model.dsCircular.Rows[i]["Title"].ToString();
                                var UploadDate = Model.dsCircular.Rows[i]["UploadDateDD"].ToString().Split(' ')[0];
                                var ExpiryDate = Model.dsCircular.Rows[i]["ExpiryDateDD"].ToString().Split(' ')[0];
                                var Category = Model.dsCircular.Rows[i]["IsMarque"].ToString() == "1" ? "Marque" : "Circulars";
                                var Status = Model.dsCircular.Rows[i]["IsActive"].ToString().ToLower() == "true" ? "Active" : "De-Active";
                                var NewFlag = Model.dsCircular.Rows[i]["NewFlag"].ToString();
                                var Attachment = Model.dsCircular.Rows[i]["Attachment"].ToString();
                                var UrlLink = Model.dsCircular.Rows[i]["UrlLink"].ToString();
                                // Count = Count + 1;
                                DateTime eDate = DateTime.ParseExact(ExpiryDate, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);

                                if (Model.dsCircular.Rows[i]["IsMarque"].ToString() != "1" && (sDate <= eDate))
                                {
                                    <br /><br />
                                    if (!string.IsNullOrEmpty(UrlLink))
                                    {
                                        <a href='@UrlLink' class="listitm" target="_blank" title="click here to open link">
                                            <samp>&#10093;</samp> <span style="color:#ff0000">@UploadDate</span> @Title
                                            @if (NewFlag == "1")
                                            {<img src="/images/new.gif" alt="new" />}
                                        </a>
                                    }
                                    else if (!string.IsNullOrEmpty(Attachment))
                                    {
                                        <a href="/@Attachment" target="_blank" class="listitm">
                                            <samp>&#10093;</samp> <span style="color:#ff0000">@UploadDate</span>
                                            @Title
                                            @if (NewFlag == "1")
                                            {<img src="/images/new.gif" alt="new" />}
                                        </a>
                                    }
                                }
                            }
                        }
                    }
                }
            </div>
         
       
       </div>
    </div>
  
<div class="col-md-6 text-center">
<div class="row">
<div class="col-md-12">
        <div class="twosectio">
<h4 class="text-left">Contact Us</h4>

<table width="100%">
<tr>
<td colspan="2" style="text-align:center">Email Id: <a href="mailto:psebhelpdesk@gmail.com" target="_blank" class="redc">
    psebhelpdesk@gmail.com</a></td>
</tr>
    
<tr>
<td style="vertical-align:top;width:48%">Toll Free Help Line No. :</td>
   <td style="vertical-align:top;line-height:12px;padding-top:6px"><span style="font-size:26px">8058911911@*8058911911*@<br /><span style="font-size:11px"> </span></span>
</td>

</tr>
<tr>
    <td colspan="2" style="text-align:center">
        <hr class="hr" />
        <i>DISTRICTS:-</i> BARNALA, FATEHGARH SAHIB, GURDASPUR, HOSHIARPUR, JALANDHAR, KAPURTHALA, SHRI MUKTSAR SAHIB, S.B.S. NAGAR, PATHANKOT, PATIALA, SANGRUR, CHANDIGARH, AMRITSAR, BATHINDA, FARIDKOT, FAZILKA, FEROZEPUR, LUDHIANA, MANSA, MOGA, ROOP NAGAR, S.A.S NAGAR,TARN TARAN & OTHER STATES
    </td>    
</tr>
</table>

            
</div>
         </div>
    @*<div class="col-md-6">
        <div class="twosectio">
<h4 class="text-left">Contact Us</h4>           
<table width="100%">
<tr>
<td colspan="2" style="text-align:center">Email Id: <a href="mailto:psebhelpdesk@gmail.com" target="_blank" class="redc">psebhelpdesk@gmail.com</a></td>
</tr>
<tr>
<td style="vertical-align:top;width:48%">Toll Free Help Line No. :</td>
<td style="vertical-align:top;line-height:12px;padding-top:6px"><span style="font-size:26px">8058911911<br /><span style="font-size:11px"> </span></td>
</tr>
<tr>
<td colspan="2" style="text-align:center"><hr class="hr" /> <i>DISTRICTS:-</i>  AMRITSAR, BATHINDA, FARIDKOT, FAZILKA, FEROZEPUR, LUDHIANA, MANSA, MOGA, ROOP NAGAR, S.A.S NAGAR,TARN TARAN</td>
</tr>
</table>
        </div>
    </div>*@

</div>
</div>

</div></div>
   
<div class="row" style="display:none">

<div class="col-md-12">
<p style="font-size:24px;padding:10% 0 20% 36%;line-height:32px">
Website Under Maintenance.<br />

We will be back soon.<br /><br />


Thanks,<br />
PSEB
</p>

</div>
</div>

<script type="text/javascript">
        window.setInterval(function () {
            var current = new Date();
            var expiry = new Date("September 06, 2017 23:59:59")
            if (current.getTime() > expiry.getTime()) {
                $('.hideintm').hide();
            } else if (current.getTime() < expiry.getTime()) {
                $('.hideintm').show();
            }
        }, 0);
</script>

   <script type="text/javascript">
        function PopUp(hideOrshow) {
            if (hideOrshow == 'hide') document.getElementById('ac-wrapper').style.display = "none";
            else document.getElementById('ac-wrapper').removeAttribute('style');
        }
        window.onload = function() {
            setTimeout(function() {
                PopUp('show');
            }, 0);
        }
    </script>
 <div id="dvsh" style="display:none">
            <div id="ac-wrapper" style='display: none'>
                <div id="popup">
                        <p><span style="float:right"><a onclick="PopUp('hide')" href="#"><img alt="Close" src="/close_button.png" title="Close" /></a></span></p><br /><br />
                         Today is the last day for Final Submission. Kindly make Final Submission immediately to avoid late fee. 
<br /><br />Thanks PSEB
                </div>
            </div>
</div>