@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<h1>Instructions</h1>
<div class="row">
<div class="col-md-12">    
@*<marquee onmouseout="this.setAttribute('scrollamount', 6, 0);" onmouseover="this.setAttribute('scrollamount', 0, 0);" direction="left" scrollamount="6" style="padding:10px 0;cursor:pointer;background-color:#f0ad4e">
Date is extended for apply online correction including Subject/Stream correction upto 20-12-2017 without fee of 10th & 12th class. Subject/Stream Correction Performa will be live soon. </marquee>*@
</div>
<div class="clearfix"></div>
    <div class="col-md-12"> 
        <ul class="ullist">
            <li>
                <a href="https://psebdata.s3.ap-south-1.amazonaws.com/allfiles/Circular/2023054.pdf" target="_blank">
                    <samp>❭</samp> <span>21.11.2023</span> Revised Correction Schedule For 10th And 12th , Session @Session["Session"].ToString()
                    <img src="/images/new.gif" alt="new" />
                </a>
            </li>
             
            <li>
                <a href="~/PDF/schedule_for_corrections.pdf" target="_blank">
                    <samp>❭</samp>Schedule For Matriculation and Sen. Secondary Class March 2024.<img src="/images/new.gif" alt="new" />
                </a>
            </li>


            <li>
                <a href="/PDF/CorrectionOrder_2021-21.pdf" target="_blank">
                    <samp>❭</samp> <span>25.09.2022</span>Letter regarding correction in 5th, 8th, 9th, 10th, 11th and 12th class registration/continuation data.<img src="/images/new.gif" alt="new" />
                </a>
            </li>
            <li>
                <a href="https://psebdata.s3.ap-south-1.amazonaws.com/allfiles/Circular/Correction_Instruction_session_2023_24.pdf" target="_blank">
                    <samp>❭</samp> <span>25.09.2022</span> Instructions For Correction, Session @Session["Session"].ToString()
                    <img src="/images/new.gif" alt="new" />
                </a>
            </li>
        </ul>
	
     
    </div>
</div>


