
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
@*@if (Convert.ToString(Session["Session"]) != "2015-2016" && Convert.ToString(Session["FormName"])== "M1")
{ Response.Redirect("~/Login"); }*@

<div class="row">
    <div class="col-md-12">
        
        <br/>
        <br />
        <br />
        <br />


        <ul>
            <li><a href="@Url.Action("ImportData9thClass", "ImportData")">Import 9th Pass Students of Self Schools.</a></li>
            <li>Import 10th Fail Students of Any School (By Reg. No.)</li>
            <li>Import 9th Pass Students of Other Schools (By TC Refno.)</li>
            <li>9th Pass Students of Any Schools of Session 2012-13,2013-14 (New Entry)</li>
            <li> View All Records</li>
        </ul>
    </div>
</div>

