
@{
    ViewBag.Title = "Grievances";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

@if (ViewBag.PRINCIPAL != null && ViewBag.PRINCIPAL.ToString().Trim() != string.Empty)
{<p style="text-align:center;font-size:24px;padding-top:20px;color:#191919">Welcome @ViewBag.PRINCIPAL.ToString().ToUpper() to Online Grievance Management System</p>}
else
{
    <script>
        window.location.href = '@Url.Action("Logout", "Login")';
    </script>
}
<h1>This Grievance portal only belongs to <span class="rqf">Registration/Continuation</span>. Grievance Other than Registration/Continuation will not entertain.</h1>
<div class="col-lg-12">    
    <ul class="ullist">
        <b>Following are the service options available to you.</b><br />
        <li>&#10093; @Html.ActionLink("Post A New Grievance", "PostGrievance", "School")</li>
        <li>&#10093; @Html.ActionLink("View Status of Grievance Posted", "DisplayGrievances", "School")</li>
    </ul>

    <p style="line-height:26px">1. The Grievances submitted with incomplete particulars/information shall not be entertained.<br />
2. The Information submitted on the portal and replied there to shall not be used for legal purpose.<br />
3. The Grievances submmited on the portal shall not automatically waive the late fee applicable on that day.<br /></p>
</div>