@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<style type="text/css">
    .ullist li {
        padding: 6px 4px;
        font-size: 16px;
    }

    .ullist {
        padding-bottom: 10px;
    }
</style>

@if (Session["LoginSession"] != null)
{
    PSEBONLINE.Models.LoginSession loginSession = (PSEBONLINE.Models.LoginSession)Session["LoginSession"];

    <div class="row" style="display:block">
        <div class="col-md-12" style="display:none">
            <p style="text-align:center;padding:15px 0">
                <a href="/pdf/Instructions_Regarding_Practical_Exam.pdf" target="_blank" class="listitm" style="font-size:24px;"><span>07.04.2018</span> - Instructions Regarding Practical Exam and pratical marks entry dates schedule.</a>
            </p>
            @*<h1>Practical Chart</h1>*@
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6 left"><h1>Practical Chart</h1></div>
        <div class="col-md-6 right"><h1>@loginSession.DealingBranchContact</h1></div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <ul class="ullist">
                @if (ViewBag.Senior == "1" || ViewBag.OSenior == "1")
                {
                    <li><samp>&#10093;</samp> <span style="color:#ff0000">19.05.2022</span> - <a href="/School/PracticalChart/S">Practical Chart Senior Secondary <img src="/images/new.gif" alt="new" /></a></li>
                }
                @if (ViewBag.Matric == "1" || ViewBag.OMatric == "1")
                {
                    <li style="display:none"><samp>&#10093;</samp> <span style="color:#ff0000">20.05.2022</span> - <a href="/School/PracticalChart/M">Practical Chart Matric - November 2021  <img src="/images/new.gif" alt="new" /></a></li>
                }
            </ul>
            @*<p><h1>Practical Signature Chart &amp; Confidential List</h1></p>*@
            <!-- <p><h1>Practical Confidential List</h1></p> -->
            <ul class="ullist" style="display:block">
                @if (ViewBag.Senior == "1" || ViewBag.OSenior == "1")
                {
                    <li><samp>&#10093;</samp> <span style="color:#ff0000">23.05.2022</span> - <a href="/School/PracSignatureChartSr/">Signature Chart Senior Secondary - March 2023 <img src="/images/new.gif" alt="new" /></a></li>
                    <li><samp>&#10093;</samp> <span style="color:#ff0000">23.05.2022</span> - <a href="/School/PracConfidentialListSenior/">Confidential List Senior Secondary - March 2023 <img src="/images/new.gif" alt="new" /></a></li>
                }
            </ul>
            <ul class="ullist" style="display: block">
                @if (ViewBag.Matric == "1" || ViewBag.OMatric == "1")
                {
                    <!-- <li><samp>&#10093;</samp> <span style="color:#ff0000">22.05.2022</span> - <a href="/School/PracSignatureChartMatric">Signature Chart Matric - March 2023<img src="/images/new.gif" alt="new" /></a></li> -->
                    <!-- <li><samp>&#10093;</samp> <span style="color:#ff0000">22.05.2022</span> - <a href="/School/PracConfidentialListMatric/">Confidential List Matric - March 2023 <img src="/images/new.gif" alt="new" /></a></li> -->
                }
                <li><samp>&#10093;</samp> <span style="color:#ff0000">22.05.2022</span> - <a href="/School/PracSignatureChartMatric">Signature Chart Matric - March 2023<img src="/images/new.gif" alt="new" /></a></li>
                <li><samp>&#10093;</samp> <span style="color:#ff0000">22.05.2022</span> - <a href="/School/PracConfidentialListMatric/">Confidential List Matric - March 2023 <img src="/images/new.gif" alt="new" /></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <!-- <div class="col-md-12" ><h1>Practical Exam Marks Entry</h1></div> -->
        <div class="col-md-12">
            <ul class="ullist" style="display:block">
                <li><samp>&#10093;</samp> <span style="color:#ff0000">23.05.2022</span> - <a href="/School/PracticalAgree/">Practical Exam Marks Entry - March 2023<img src="/images/new.gif" alt="new" /></a></li>
            </ul>
        </div>

        @*<div class="col-md-12" ><h1>Instructions</h1></div>*@
        <div class="clearfix"></div>
        <div class="col-md-12" style="display:none">
            <ul class="ullist">
                @if (ViewBag.Senior == "1")
                {
                    <li><samp>&#10093;</samp> <span style="color:#ff0000">22.05.2022</span> - <a target="_blank" href="/PDF/Scheme-of-Studies-for-Class-12th-Academic-Year-2020-21.pdf"> Scheme of Studies for Class 12th Academic Year 2020-21<img src="/images/new.gif" alt="new" /></a></li>
                    <li><samp>&#10093;</samp> <span style="color:#ff0000">22.05.2022</span> - <a target="_blank" href="/PDF/Instructions_PracticalMarksEntry.pdf">Instructions Practical Marks Entry (REG) <img src="/images/new.gif" alt="new" /></a></li>
                }
                @if (ViewBag.OSenior == "1")
                {
                    <li><samp>&#10093;</samp> <span style="color:#ff0000">16.06.2021</span> - <a target="_blank" href="/PDF/OpenInstructions_PracticalMarksEntry.pdf">Instructions Practical Marks Entry (OPEN)<img src="/images/new.gif" alt="new" /></a></li>
                    <li><samp>&#10093;</samp> <span style="color:#ff0000">16.06.2021</span> - <a target="_blank" href="/PDF/SeniorOpenProspectus2020-21.pdf">Prospectus for 12th Class Open School November 2021<img src="/images/new.gif" alt="new" /></a></li>
                }
            </ul>
        </div>
    </div>


}







