@{
    ViewBag.Title = "Private Cut List Admin";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<h1>Private Cut List</h1>
<div class="row">
    <div class="col-md-12 text-right" style="display:none"><input type="button" value="Back" onclick="javascript:document.location.href='@Url.Action("SchoolCutList", "School" )'" /></div>
    <div class="col-md-12">
        <ul class="ullist">
            @*<li><a href="/School/PVTCUTLIST_ADMIN"><samp>&#10093;</samp> Private Cut List</a></li>*@
            <li><a href="/School/Pvtcutlist/M"><samp>&#10093;</samp> Matric Private Cut List</a></li>
            <li><a href="/School/Pvtcutlist/S"><samp>&#10093;</samp> Senior Private Cut List</a></li>
        </ul>
        <ul class="ullist">
            @if (ViewBag.Matric == "1")
            {
                <li><a href="/School/Pvtcutlist/M"><samp>&#10093;</samp> Matric Regular Private Cut List</a></li>
            }

            @if (ViewBag.Senior == "1")
            {

                <li><a href="/School/Pvtcutlist/S"><samp>&#10093;</samp> Senior Regular Private Cut List</a></li>
            }
        </ul>

    </div>
</div>

