
@{
    ViewBag.Title = "SchoolCutList";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

<h1>School Cut List</h1>

<div class="row">
    <div class="col-md-12 text-right" style="display:none"><input type="button" value="Back" onclick="javascript:document.location.href='@Url.Action("SchoolCutList", "School" )'" /></div>
        <div class="col-md-12">
            <ul class="ullist">
                @if (ViewBag.Matric == "1")
            {
                    <li><a href="/School/CutList_Schl/M"><samp>&#10093;</samp> Matric Regular Cut List</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="/School/CutList_Schl/ME">Matric Regular Error List</a></li>
                }
                @if (ViewBag.OMatric == "1")
            {

                    <li><a href="/School/CutList_Schl/MO"><samp>&#10093;</samp> Matric Open Cut List</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="/School/CutList_Schl/MOE"> Matric Open Error List</a></li>
                }
               @if (ViewBag.Senior == "1")
            {

                    <li><a href="/School/CutList_Schl/S"><samp>&#10093;</samp> Senior Regular Cut List</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="/School/CutList_Schl/SE"> Senior Regular Error List</a></li>
                }
                @if (ViewBag.OSenior == "1")
            {

                    <li><a href="/School/CutList_Schl/SO"><samp>&#10093;</samp> Senior Open Cut List</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="/School/CutList_Schl/SOE"> Senior Open Error List</a></li>
                }
            </ul>
        </div>
    </div>


