@model PSEBONLINE.Models.AffiliationModel

@if (Model != null)
{

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AffiliationContinuation/Index">DashBoard</a>
            </h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AffiliationContinuation/SchoolProfile/@ViewBag.SCHL">School Profile</a>
            </h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AffiliationContinuation/ResultStatics/@ViewBag.SCHL">Result Statics </a>

            </h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AffiliationContinuation/StudentFeeDetails/@ViewBag.SCHL">Student Fee/Funds Details</a>
            </h4>
        </div>
    </div>

    <div class="panel panel-default" style="display:none">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AffiliationContinuation/BalanceSheet/@ViewBag.SCHL">Balance Sheet</a>
            </h4>
        </div>
    </div>

    <div class="panel panel-default" style="display:none">
        <div class="panel-heading">
            <h4 class="panel-title">

                <a href="/AffiliationContinuation/SafetyDetails/@ViewBag.SCHL">Building/Fire Safety Details</a>
            </h4>
        </div>
    </div>

    <div class="panel panel-default" style="display:none">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AffiliationContinuation/BooksPurchaseDetails/@ViewBag.SCHL">Books Purchase Details</a>
            </h4>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AffiliationContinuation/Activities/@ViewBag.SCHL">Other information & Activities</a>
            </h4>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AffiliationContinuation/UploadAffiliationContinuationDocuments/@ViewBag.SCHL" title="Upload Documents">Upload Documents</a>
            </h4>
        </div>
    </div>


    @*@if (Model.challanVerify == 0)
    {*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/AffiliationContinuation/PrintForm/@ViewBag.SCHL">View Application</a>
                </h4>
            </div>
        </div>
    @*}*@

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AffiliationContinuation/CalculateFee/@ViewBag.SCHL">Calculate Fee & Final Submit</a>
            </h4>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AffiliationContinuation/FinalPrintForm/@ViewBag.SCHL">Print Form</a>
            </h4>
        </div>
    </div>

</div>
}
