



<div class="panel-group" id="accordion">
   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AssociateCommuni/schoolProfile/@ViewBag.SCHL">School Profile</a>
            </h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AssociateCommuni/BuildingSafty/@ViewBag.SCHL">
                    Building/Fire Safety Details
                </a>

            </h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AssociateCommuni/RoomDetails/@ViewBag.SCHL">
                    Rooms Details
                </a>
            </h4>
        </div>
    </div>

    <div class="panel panel-default" >
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AssociateCommuni/studentCount/@ViewBag.SCHL">
                    Student Count
                </a>
            </h4>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">

                <a href="/AssociateCommuni/UploadDocument/@ViewBag.SCHL">
                    Upload Documents
                </a>
            </h4>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AssociateCommuni/SchoolInfra/@ViewBag.SCHL">
                    School Infrastructure
                </a>
            </h4>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AssociateCommuni/Index">
                    Calculate Fee & Final Submit
                </a>
            </h4>
        </div>
    </div>


    
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="/AssociateCommuni/Index">
                Print Form
            </a>
        </h4>
    </div>
</div>

   


   

</div>

