@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<h1>Instructions</h1>
<div class="row">
    <div class="col-md-12">
        <ul class="ullist">
            <li>
                <samp>&#10093;</samp> <span style="color:#ff0000">03.05.2019</span> -
                <a href="/PDF/all-principal-cum-centre-controller.pdf" target="_blank">Instructions to Principal/Centre Controller <img src="/images/new.gif" alt="new" /></a>
            </li>
            <li><samp>&#10093;</samp> <span style="color:#ff0000">03.05.2019</span> - <a href="/PDF/all-centre-superintendent.pdf" target="_blank">Instructions to Centre Suprintendent <img src="/images/new.gif" alt="new" /></a></li>

            <li><samp>&#10093;</samp> <span style="color:#ff0000">20.04.2019</span> - <a href="/PDF/BuildingNotice200419.pdf" target="_blank">Building Notice For Meritorious Exam 2019 (21 April 2019) </a></li>
            <li><samp>&#10093;</samp> <span style="color:#ff0000">20.04.2019</span> - <a href="/PDF/supdt.pdf" target="_blank">Superintendent instructions For Meritorious Exam 2019 </a></li>
            <li><samp>&#10093;</samp> <span style="color:#ff0000">20.04.2019</span> - <a href="/PDF/school.pdf" target="_blank">Centre Controller instructions For Meritorious Exam 2019 </a></li>

            <li><samp>&#10093;</samp> <span style="color:#ff0000">20.04.2019</span> - <a href="/PDF/Confichart/C_@Session["SCHL"].ToString()_.pdf" target="_blank">Confidential List </a></li>
            <li><samp>&#10093;</samp> <span style="color:#ff0000">20.04.2019</span> - <a href="/PDF/Confichart/lot2/C_@Session["SCHL"].ToString()_.pdf" target="_blank">Confidential List Lot 2 </a></li>
            <li><samp>&#10093;</samp> <span style="color:#ff0000">03.05.2019</span> - <a href="/PDF/Confichart/lot3/C_@Session["SCHL"].ToString()_.pdf" target="_blank">Confidential List Lot 3</a></li>
            <li><samp>&#10093;</samp> <span style="color:#ff0000">03.05.2019</span> - <a href="/PDF/Confichart/lot7/C_@Session["SCHL"].ToString()_.pdf" target="_blank">Confidential List Lot 7</a></li>
            <li><samp>&#10093;</samp> <span style="color:#ff0000">20.04.2019</span> - <a href="/PDF/Signaturechart/S_@Session["SCHL"].ToString()_.pdf" target="_blank">Signature Chart </a></li>
            <li><samp>&#10093;</samp> <span style="color:#ff0000">20.04.2019</span> - <a href="/PDF/Signaturechart/lot2/S_@Session["SCHL"].ToString()_.pdf" target="_blank">Signature Chart Lot 2 </a></li>
            <li><samp>&#10093;</samp> <span style="color:#ff0000">03.05.2019</span> - <a href="/PDF/Signaturechart/lot3/S_@Session["SCHL"].ToString()_.pdf" target="_blank">Signature Chart Lot 3 <img src="/images/new.gif" alt="new" /></a></li>
            <li><samp>&#10093;</samp> <span style="color:#ff0000">03.05.2019</span> - <a href="/PDF/Signaturechart/lot7/S_@Session["SCHL"].ToString()_.pdf" target="_blank">Signature Chart Lot 7 <img src="/images/new.gif" alt="new" /></a></li>



        </ul>

        @*@if ((Session["SCHL"].ToString() == "0020166") || (Session["SCHL"].ToString() == "0020204" && Session["CENT"].ToString() == "02002")) {

        <ul class="ullist">
            <li><samp>&#10093;</samp> <span style="color:#ff0000">20.04.2019-@Session["CENT"].ToString()</span> - <a href="/PDF/Confichart/C"@Session["SCHL"].ToString()".pdf">Confidential List <img src="/images/new.gif" alt="new" /></a></li>
            <li><samp>&#10093;</samp> <span style="color:#ff0000">20.04.2019</span> - <a href="/PDF/Signaturechart/S"@Session["SCHL"].ToString()".pdf">Signature Chart <img src="/images/new.gif" alt="new" /></a></li>
        </ul>

        }*@
    </div>    
    <div class="col-md-12" style="display:none">   
        <p style="font-size:24px;text-align:center;padding:80px 0 190px 0">
            Subject Correction Performa will be available soon.
            @*Subject Correction Performa will be Live Soon. For More Details, kindly Contact P.S.E.B Head Office, </br> Contact No. 0172 5227423,424,425</p>*@
    </div>
</div>
@*<div class="row">
<div class="col-md-12">
<p style="text-align:center;font-size:24px;padding-top:80px;padding-bottom:300px">This Form will be live soon. Watch out this space for further update.</p>
</div></div>*@