@model PSEBONLINE.Models.SchoolModels
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}

<h1>Change Password </h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<div id="dialog" style="display: none">
    <span class="rqf">Your Password has been changed . The same will change for 5th , 8th , 10th, 12th classes if exist in your school. Are you sure you want to proceed.<br />Click OK button to Change Password otherwise click Cancel button.</span>
</div>
<div id="loading1"></div>
<div>
    <p class="rqf" style="font-size:16px;">Your Password will be same for 5th , 8th , 10th, 12th classes if exist in your school.</p>
</div>
<div class="row">
    <div class="col-md-2">School Name(English) <span class="rqf">*</span></div>
    <div class="col-md-10">
        <label class="kdsfont">
            @if (Session["FullSchoolNameE"] != null)
            {@Session["FullSchoolNameE"].ToString()}
        </label>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-2">School Name(Punjabi) <span class="rqf">*</span></div>
    <div class="col-md-10">
        <label class="kdsfont">
            @if (Session["FullSchoolNameP"] != null)
            {@Session["FullSchoolNameP"].ToString()}
        </label>
    </div>
</div>
<div class="clearfix"></div>
@using (Html.BeginForm("Change_Password", "SchoolProfile", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-2">Enter Old Password <span class="rqf">*</span></div>
        <div class="col-md-4"> @Html.Password("CurrentPassword", "", new { @class = "form-control", placeholder = "OldPassword", required = "required", @maxlength = "50" })</div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Enter New Password <span class="rqf">*</span>
        </div>
        <div class="col-md-4">@Html.Password("NewPassword", "", new { @class = "form-control", placeholder = "New Password", required = "required", @maxlength = "50" })</div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Confirm Password <span class="rqf">*</span>
        </div>
        <div class="col-md-4">@Html.Password("ConfirmPassword", "", new { @class = "form-control", placeholder = "Confirm Password", required = "required", @maxlength = "50" })</div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4"><input type="button" value="Change Password" id="btnSubmit" /></div>
    </div>
}
@{
    if (ViewData["resultSCP"] != null)
    {
        if (ViewData["resultSCP"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                alert("Data Updated Successfully");
            </script>}
        else if (ViewData["resultSCP"].ToString() == "0")
        {
            <script type="text/javascript" language="javascript">
                alert("Password Not Changed.plz check details");
            </script>
        }
        else if (ViewData["resultSCP"].ToString() == "3")
        {
            <script type="text/javascript" language="javascript">
                alert("New and Confirm Password Not Matched");
            </script>
        }
        else
        {
            <script type="text/javascript" language="javascript">
                alert("Please Fill All Fields");
            </script> }
    }
}



<script type="text/javascript">
    //Start Payment
    $("#btnSubmit").click(function () {
        var currentPassword = document.getElementById("CurrentPassword").value;
        var newPassword = document.getElementById("NewPassword").value;
        var confirmPassword = document.getElementById("ConfirmPassword").value;

        if (currentPassword == "") {
            alert("Please Enter Current Password");
            currentPassword.focus();
            return false;
        }
        if (newPassword == "") {
            alert("Please Enter New Password");
            currentPassword.focus();
            return false;
        }
        if (confirmPassword == "") {
            alert("Please Enter Confirm Password");
            currentPassword.focus();
            return false;
        }
        if (newPassword != confirmPassword) {
            alert("New and Confirm Password must be same");
            currentPassword.focus();
            return false;
        }
        else {
            // alert(1);
            // $('#Main1').hide();
            //$('#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
            alert("Your Password has been changed . The same will change for 5th , 8th , 10th, 12th classes if exist in your school. Are you sure you want to proceed?");
            $('#dialog').dialog('open');
            return true;
        }

    });

    $(function () {
        $("#dialog").dialog({
            modal: true,
            autoOpen: false,
            title: "Are you sure you want to changed Password?",
            width: 400,
            height: 220,
            buttons: {
                "OK": function () {
                    $('#loading1').html("<p><img src='https://registration2022.pseb.ac.in/images/loadingk.gif'></p>");
                    $('#myForm').submit();

                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
    });
                //End  Payment
</script>