@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<h4>Choose Session</h4>
<div class="row">
    <div class="col-md-2">School Name(English)</div>
    <div class="col-md-10"><label> @if (Session["SchlE"] != null)    {@Session["SchlE"].ToString()}
    else { Response.Redirect("~/Login"); }</label> </div>
    <div class="clearfix"></div>
    <div class="col-md-2">School Name(Punjabi)</div>
    <div class="col-md-10"><label class="kdsfont">@if (Session["SchlP"] != null)  {@Session["SchlP"].ToString()}</label> </div>
    <div class="clearfix"></div>
    <div class="col-md-2">
        Select Session</div>
        <div class="col-md-10">
            <label class="kdsfont">
                @if (Session["Session"] != null)
                {@Session["Session"].ToString()}</label>
        </div>
        <div class="col-md-10"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-10">@*<input type="submit" value="Go">*@
    @Html.ActionLink("Go", "Portal", "RegistrationPortal")</div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <ul class="kdslist">
                <li>Click Here >> <a href="#"> Matriculation Exam Result 2016</a></li>
                <li>Click Here >> <a href="#"> Sr. Secondary Exam Result 2016</a></li>
            </ul>

        </div>
    </div>
