@{
    Layout = "~/Views/Shared/_Login_Header.cshtml";
}

<style type="text/css">
#ac-wrapper {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}
#popup {
    background: #fff none repeat scroll 0 0;
    border: 5px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 0 3px 3px #64686e;
    height: 300px;
    left: 0;
    padding: 15px 20px;
    position: absolute;
    top: 128px;
    width: 100%;
}

</style>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6 text-left ptb">
            <a href="https://apps.indiaresults.com/pb/pseb/default.aspx" class="btn"> School Login For Session 2016-17 Only For Open School</a>       
            </div>
        <div class="col-md-6 text-right ptb">
            <a href="/Login" class="btn">School Login For Session 2016-17</a>
                        </div>
   </div>
    </div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <img src="~/Images/PSEB_Slider.jpg" alt="Slider" class="img-responsive" />
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <h1>Important Links</h1>
        <ul>
            <li><a href="#">Link</a></li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 text-center">
        Contact Us:
        <hr class="hr" />
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-6">
        <div class="twosectio">
            <p class="text-center">
                Email Id: <a href="mailto:psebhelpdesk@gmail.com" target="_blank">
    psebhelpdesk@gmail.com</a><br />

    Toll Free Help Line No. : <span style="font-size:18px">18002700280</span>
</p>
            <i>DISTRICTS:-</i> BARNALA, FATEHGARH SAHIB, GURDASPUR, HOSHIARPUR, JALANDHAR, KAPURTHALA, SHRI MUKTSAR SAHIB, S.B.S. NAGAR, PATHANKOT, PATIALA, SANGRUR, CHANDIGARH & OTHER STATES
</div>
         </div>
    <div class="col-md-6">
        <div class="twosectio">
            <p class="text-center">
                Email Id: <a href="mailto:Contact2@psebonline.in" target="_blank">contact2@psebonline.in</a><br />

                Toll Free Help Line No. : <span style="font-size:18px">18004190690</span>
            </p>
            <i>DISTRICTS:-</i>  AMRITSAR, BATHINDA, FARIDKOT, FAZILKA, FEROZEPUR, LUDHIANA, MANSA, MOGA, ROOP NAGAR, S.A.S NAGAR,TARN TARAN
        </div>
    </div>
</div> 

<div id="ac-wrapper" style='display: none'>
                <div id="popup">
                   <p style="text-align:center;font-size:24px;padding-top:80px;padding-bottom:300px;width:60%">
E1 form is live now. Schools may start uploading applications. </p>
                </div>
            </div>
<script type="text/javascript">
    function PopUp(hideOrshow) {
        if (hideOrshow == 'hide') document.getElementById('ac-wrapper').style.display = "none";
        else document.getElementById('ac-wrapper').removeAttribute('style');
    }
    window.onload = function () {
        setTimeout(function () {
            PopUp('show');
        }, 0);
    }
    </script>