@{
    Layout = "~/Views/Shared/_Login_Header.cshtml";
}



        <form class="form-signin" name="Login_Form" method="post" action="">
            <h3 class="form-signin-heading text-center">Admin Login Panel</h3>
            <br />
            <input type="text" autofocus="" required="" placeholder="Username" name="Username" class="form-control">
            <input type="password" required="" placeholder="Password" name="Password" class="form-control">
            <select name="Session"  class="form-control" class="form-control" style="padding-left:2px; padding-right:2px">
                <option value="">--Select Session---</option>
                </select>
                <div class="checkbox" id="remember">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div><br />
            <input type="submit" value="Login">
</form>






