@model PSEBONLINE.Models.LoginModel
@{
    ViewBag.Title = "Custom Mail";
    //Layout = "~/Views/Shared/_Headerui.cshtml";
    Layout = "~/Views/Shared/_Login_Header.cshtml";
}


<form class="form-signin" name="Login_Form" method="post" action="">
    <h3 class="form-signin-heading text-center">Custom Mail</h3>   
    <input type="submit" value="@ViewBag.SubmitValue" onclick='@Url.Action("SendCustomMail", "Login", new { id="txtsend"})'><br />
</form>