@model PSEBONLINE.Models.Printlist
@{
    Layout = "~/Views/Shared/_Headerdeo.cshtml";
}

<h1>Heading</h1>




<div class="row">
    <div class="col-md-4">Total: </div>
        <div class="col-md-2"><select id="Session" name="Session" required="required"><option value="">---Select Session---</option></select></div>
        <div class="col-md-2"><select id="Session" name="Session" required="required"><option value="">---Select Session---</option></select></div>
        <div class="col-md-2"><input type="text" /></div>
        <div class="col-md-2"><input type="button" value="Search" /></div>
    <div class="col-md-12">
        <input type="button" value="...." /></div>
    </div>
<
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered" id="t01">
                <tbody><tr class="active-tr">
                    <th>S.No</th>
                    <th>Center</th>
                    <th>Centre Name</th>
                    <th>SCHL</th>
                    <th>Building Name</th>
                    <th>Distric</th>
                    <th>CCODE</th>
                    <th>All</th>
                </tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
                            </tr>
                          
            </tbody></table>
        </div>
    </div>
</div>
            