@model PSEBONLINE.Models.DEOModel
@{
    ViewBag.Title = "Update Centre Master";
    Layout = "~/Views/Shared/_Headerdeo.cshtml";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<h2>Admin Update Centre Master</h2>

<div class="row" id="divR">
    <div class="col-md-12">
        <fieldset>
            <legend>Update Centre Master </legend>
            @using (Html.BeginForm("AdminUpdateCentreMaster", "DeoPortal", FormMethod.Post, new { id = "uploadform", enctype = "multipart/form-data" }))
            {                
                <div class="row" style="padding-bottom:50px">                 
                    <div class="clearfix"></div>
                    <div class="col-md-6">
                        Upload Centre Master File @Html.TextBoxFor(m => m.file, new { id = "centremaster", type = "file", required = "required" })
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6">
                        <br />
                        <input type="submit" name="submit" value="Update Center Master Data" onclick="return valForm();" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6">
                        <br />
                        <a download="" href="~/PDF/CenterMasterDataSample.xls" class="btn">Click Here to Download Center Master Data Sample File</a>
                    </div>
                </div>
            }
        </fieldset>
    </div>
</div>

@{
    if (ViewData["Result"] != null)
    {
        if (ViewData["Result"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                alert('@ViewBag.Message');
               // window.location.href = 'Url.Action("Welcome", "Bank")';
            </script>
        }
    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">

               $(document).ready(function () {
                   $('input[type=file]').change(function () {
                       var val = $(this).val().toLowerCase();
                       var regex = new RegExp("(.*?)\.(xlsx|xls)$");
                       if (!(regex.test(val))) {
                           $(this).val('');
                           alert('Please select only .xls file format');
                       }
                   });
               });

</script>



