@model PSEBONLINE.Models.DEOModel
@{
    Layout = "~/Views/Shared/_Headerdeo.cshtml";
}

<div class="row">
    <div class="col-md-12 text-center" style="display:none">
        Welcome: @if (Session["NAME"] != null)
        {@Session["NAME"].ToString()}
        else { Response.Redirect("~/DeoPortal/Index"); }
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12" style="padding-top:4px">
        <img src="/Images/PSEB_Slider.jpg" alt="Slider" class="img-responsive">
        <div class="shadow">&nbsp;</div>


    </div>
</div>

        

