@model PSEBONLINE.Models.DEOModel
@{
    Layout = "~/Views/Shared/_Headerdeo.cshtml";
}
<h1>Cureunt Status For Final Submission</h1>
<p style="display:none;">
    Welcome: @if (Session["NAME"] != null)
    {@Session["NAME"].ToString()}
    else { Response.Redirect("~/DeoPortal/Index"); }
</p>
@using (Html.BeginForm("FinalPrint", "DeoPortal", FormMethod.Post, new { id = "searchform" }))
{
    <input type="text" id="chkImportid" name="chkImportid" value="@ViewBag.impid" style="display:none;" />
    <div class="row">
        @*<div class="col-md-12">No of Center: No of Staffs: No of Clusters:</div>*@
        <div class="col-md-4">
            Select Lot:
           @Html.DropDownList("SelLot", new SelectList(ViewBag.Flot, "Value", "Text"), "--Select LOT---", new { id = "SelLot" })
        </div>
       
        <div class="clearfix"></div>
        <div class="col-md-6">
            @*<ul>
                <li>1.@Html.ActionLink("Center Report", "CentreReportPrint", "DeoPortal")</li>
                <li>2.@Html.ActionLink("Cluster Report", "ClusterListReportPrint", "DeoPortal")</li>
                <li>3.@Html.ActionLink("Cluster Wise Centre List Report", "ClusterWiseCentreList", "DeoPortal")</li>
                <li>4.@Html.ActionLink("Cluster Wise Staff List Report", "ClusterWiseStaffListPrintlot", "DeoPortal")</li>
            </ul>*@
            <input type="submit" value="Block Wise Centre List Report" name="cmd" />   
            <input type="submit" value="Block Wise Staff List Report" name="cmd" />   
        </div>
    </div>

 }
