@model PSEBONLINE.Models.DEOModel
@{
    Layout = "~/Views/Shared/_Headerdeo.cshtml";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<form class="form-signin" name="Login_Form" method="post" action="">
    <h3 class="form-signin-heading text-center">Mail to D.E.O , Center Not Added</h3>
    Enter Dist Code<br />
    @Html.TextBoxFor(m => m.username, new { id = "username", required = "required", @maxlength = "3", @class = "form-control", style = "text-transform: none;", onkeypress = "return isNumberKey(event);" })
    <br />
    <input type="submit" value="@ViewBag.SubmitValue" onclick='@Url.Action("MailToDeo", "DeoPortal", new { id="txtsend"})'><br />

    @{
        if (ViewData["result"] != null)
        {
            @ViewBag.Message
            if (ViewData["result"].ToString() == "1")
            {
                <p style="color:red;">Kindly check Spam Email Too. Add noreply@psebonline.in to your white list/safe sender list. Else, your mailbox filter or ISP (Internet Service Provider) may stop you from receiving e-mails.</p>
            }
        }
    }

</form>