@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<h1>Subject Correction Performa</h1>


@{
    if (Session["LoginSession"] != null)
    {
        PSEBONLINE.Models.LoginSession loginSession = (PSEBONLINE.Models.LoginSession)Session["LoginSession"];
        <div class="row">
            <div class="col-md-12">
                <ul class="ullist">

                  
                    @if (loginSession.Matric == "1")
                    {
                        <li><samp>&#10093;</samp> @Html.ActionLink("Subject Correction Performa Matric", "SubjectCorrectionPerforma", "CorrectionSubjects")</li>
                    }
                    @if (loginSession.Senior == "1")
                    {
                        <li><samp>&#10093;</samp> @Html.ActionLink("Subject Correction Performa Senior Secondary", "SRSubjectCorrectionPerforma", "CorrectionSubjects")</li>
                    }
                </ul>
            </div>
        </div>

    }

}
