@model PSEBONLINE.Models.AdminSchoolMasterModel
@{
    Layout = "~/Views/Shared/_Header.cshtml";
}

<h1>School Identity Details</h1>
@using (Html.BeginForm())
{
    <div class="row">
        <div>
            @Html.HiddenFor(a => a.id)
        </div>
        <div class="col-md-4">
            School Code @Html.TextBoxFor(a => a.schl)
            @*<input type="text" class="form-control" value="">*@
        </div>
        <div class="col-md-4">
            ID No.@Html.TextBoxFor(a => a.idno)
            <input type="text" class="form-control" value="">
        </div>
        <div class="col-md-4">
            Study Center Code<input type="text" class="form-control" value="">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            Session
            <input type="text" class="form-control" value="">
        </div>
        <div class="col-md-4">
            School Type <input type="text" class="form-control" value="">
        </div>
        <div class="col-md-4">
            Class <input type="text" class="form-control" value="">
        </div>
        <div class="clearfix"></div>

        <div class="col-md-4">
            Status
            <input type="text" class="form-control" value="">
        </div>
        <div class="col-md-4">
            Approved <input type="text" class="form-control" value="">
        </div>
        <div class="col-md-4">
            Verified <input type="text" class="form-control" value="">
        </div>
        <div class="clearfix"></div>

        <div class="col-md-4">
            Password
            <input type="text" class="form-control" value="">
        </div>
        <div class="col-md-4">
            000 <input type="text" class="form-control" value="">
        </div>
        <div class="col-md-4">
            School Area <input type="text" class="form-control" value="">
        </div>
        <div class="clearfix"></div>
        <h1>School Details(In English)</h1>
        <div class="row">
            <div class="col-md-12">
                School Name
            </div>
            <div class="col-md-4">
                Station Name
            </div>
            <div class="col-md-4">
                District Code
            </div>
            <div class="col-md-4">
                District  Name
            </div>
        </div>


        <h1>School Details(In Punjabi)</h1>
        <div class="row">
            <div class="col-md-12">
                School Name
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                Station Name
            </div>
            <div class="col-md-4">
                District Code
            </div>
            <div class="col-md-4">
                District  Name
            </div>
            <div class="clearfix"></div>
        </div>

        <h1>Class and Stream Details</h1>
        <div class="row">
            <div class="col-md-2">
                School Name
            </div>
            <div class="col-md-2">
                School Name
            </div>
            <div class="col-md-4">
                School Name
            </div>
            <div class="col-md-4">
                School Name
            </div>
        </div>

        <h1>Contact Details</h1>
        <div class="col-md-4">
            Principal Name
        </div>
        <div class="col-md-4">
            Office Phone No.
        </div>
        <div class="col-md-4">
            Mobile No.
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            Registered Email
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            Other Person Name
        </div>

        <div class="col-md-4">
            Other Mobile No.
        </div>

        <div class="col-md-4">
            Mobile No. - 2
        </div>
        <div class="clearfix"></div>

        <div class="col-md-4">
            Address (In English)
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            Address (In Punjabi)
        </div>
    </div>
    <h1>Old Corr. No.</h1>
    <div class="row">
        <div class="col-md-2">
            Old Corr. No.
        </div>

        <div class="col-md-5">
            Remarks and Correction Details
        </div>

        <div class="col-md-5">
            Last Correction Date
        </div>

    </div>
    <h1>School Identity Details</h1>
    <div class="row">
        <div class="col-md-2">
            Old Corr. No.
        </div>

        <div class="col-md-5">
            Remarks and Correction Details
        </div>

        <div class="col-md-5">
            Last Correction Date
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            Correction Details
        </div>
    </div>
}