@model PSEBONLINE.Models.AdminModels
@{
    ViewBag.Title = "DownloadZIPFilePS pvt";
}

<h2>DownloadZIPFile</h2>
@using (Html.BeginForm("DownloadZIPFilePSpvt", "Admin", FormMethod.Post, new { id = "uploadform", enctype = "multipart/form-data" }))
{

    <div class="row" style="padding-bottom:100px">
        <div class="col-md-4">
          Table Name : @Html.TextBox("tblname","")
        </div>
        <div class="col-md-2">
            <br />
            <input type="submit" value="Download Zip File" />
        </div>       
    </div>
}

@{
    if (ViewData["Result"] != null)
    {
        if (ViewData["Result"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                alert('Downloaded SuccessFully');               
            </script>}
        else
        {
            <script type="text/javascript" language="javascript">
                alert('Download Failure');
            </script>}

    }
}
