@{
    ViewBag.Title = "Query Execute";
     Layout = "~/Views/Shared/_Header.cshtml";
    //Layout = "~/Views/Shared/_Card_Header.cshtml";
}
<link rel="stylesheet" href="https://test.psebonline.in/Content/cardprintc.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title> </title>
    <style type="text/css">
        select[multiple] {
            height: 240px
        }

        textarea {
            resize: none;
            height: 250px;
           /*width: 600px;*/
        }

        .bvc li {
            padding-right: 1px;
        }

        .bvc .checkboxP {
            padding-left: 1px;
        }

        .newList li {
            padding: 0 15px !important;
        }

            .newList li .checkboxP {
                margin-right: 2px;
            }
    </style>
</head>
<body>
    <div>
        @{Html.BeginForm("ExecuteSqlQuery", "Admin", FormMethod.Post);
            {
        <div class="row">
            <div class="col-md-12 text-center" style="margin-top:5%">
                @Html.TextArea("SqlQuery", new { @required = "required", @class = "textnone" })
                <input type="submit" class="btn" id="Execute" value="Execute Query" />
            </div>
        </div>
                    }
                    Html.EndForm();
                    }

                </div>
</body>
</html>
