@model PSEBONLINE.Models.AdminModels
@{
    ViewBag.Title = "Firm Change Password";
    //Layout = "~/Views/Shared/_HeaderCorr.cshtml";  By Rohit
    Layout = "~/Views/Shared/_Header.cshtml";
}
<h1>Firm Correction Home</h1>
@using (Html.BeginForm("FirmChangePassword", "Admin", FormMethod.Post, new { id = "searchform" }))
{
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
               @{



                        <div class="clearfix"></div>
                        <div class="col-md-2">Firm User Id. <span class="rqf">*</span></div>
                        <div class="col-md-4">@Html.TextBoxFor(a => a.CorrectionUserId, new { id = "CorrectionUserId", @maxlength = "20", @ReadOnly = "ReadOnly" })</div>
                        <div class="clearfix"></div>
                        <div class="col-md-2">Enter Old Password<span class="rqf">*</span></div>
                        <div class="col-md-4">@Html.TextBoxFor(a => a.CorrectionOldPwd, new { id = "CorrectionOldPwd", @maxlength = "10" })</div>
                        <div class="clearfix"></div>
                        <div class="col-md-2">Enter New Password <span class="rqf">*</span></div>
                        <div class="col-md-4">@Html.TextBoxFor(a => a.CorrectionNewPwd, new { id = "CorrectionNewPwd", @maxlength = "10" })</div>
                        <div class="clearfix"></div>
                        <div class="col-md-6 text-center">
                            <input value="Submit" type="submit" onclick="return valForm();" title="Submit for change password " />
                            <input type="submit" value="Home" formaction="FirmCorrectionHome" title="Go for Home Page" />
                        </div>
            }
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

}
@{
    if (ViewData["Status"] != null)
    {
        var result = ViewData["Status"].ToString();
        if (result == "1")
        {
            <script type="text/javascript" language="javascript">
                alert("Password Changed successfully, Kindly Relogin with New changed Password.");
                document.location.href = '@Url.Action("Index", "Admin")';
            </script>
        }
        else
        {
            <script type="text/javascript" language="javascript">
            alert("Password Not Changed, Please Try Again.");
            </script>
        }
    }

}
<script type="text/javascript">
function valForm() {
    var UserId = document.getElementById('CorrectionUserId').value;
    var OldPwd = document.getElementById('CorrectionOldPwd').value;
    var NewPwd = document.getElementById('CorrectionNewPwd').value;
    if (UserId == "" || OldPwd == "" || NewPwd == "") {
        alert("Enter Correct Old and New Password.");
        document.getElementById('CorrectionOldPwd').focus();
            return false;
        }
}
        </script>