@model PSEBONLINE.Models.AdminModels
@{
    ViewBag.Title = "Firm Record Download";
    //Layout = "~/Views/Shared/_HeaderCorr.cshtml";  By Rohit
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function ShowProgress() {
        setTimeout(function () {
            var modal = $('<div />');
            modal.addClass("modal");
            $('body').append(modal);
            var loading = $(".loading");
            loading.show();
            var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
            var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
            loading.css({ top: top, left: left });
        }, 200);
    }
    $('form').live("submit", function () {
        ShowProgress();
    });
</script>

<h1>Firm Final Print</h1>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@using (Html.BeginForm("FirmRecordDownload", "Admin", FormMethod.Post, new { id = "searchform" }))
{
    <div class="clearfix"></div>
   

 }

<script>
    function valForm() {
        var SchlList = document.getElementById("CorrectionType");
        if (SchlList.value == "" || SchlList.value == "0") {
            alert("Select Correction Type");
            SchlList.focus();
            return false;
        }
        var Schlcode = document.getElementById("CorrectionLot");
        if (Schlcode.value == "" || Schlcode.value == "0") {
            alert("Enter Correction Lot");
            Schlcode.focus();
            return false;
        }
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ((charCode >= 48 && charCode <= 57) || (charCode == 8) || (charCode == 46)) {

            return true;
        }
        else {
            alert("Invalid character...Enter Only Number!!");
            return false;
        }
    }
</script>

