@model PSEBONLINE.Models.AdminModels
@{
    ViewBag.Title = "Summary Performa Report";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<h1>Summary Of Examination Form (Matric & Senior Secondary)</h1>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@using (Html.BeginForm("SummaryPerformaReport", "Admin", FormMethod.Post, new { id = "searchform" }))
{   
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            @*<div class="col-md-12 text-center">SUMMARY OF EXAMINATION FORM (Date :- 19 nov 2016 Time:- 19:50 PM)</div>*@  
@*<h3>SUMMARY OF EXAMINATION FORM (MATRIC AND SENIOR SECONDARY)</h3>*@
            <table class="table table-bordered" id="t01">
                
                <tr class="active-tr">
                    <th width="5%">Sl.<br />No.</th>
                    <th width="20%">Forms Name</th>
                   
                     <th width="10%">Number of Candidates</th>
                    <th width="10%">Number of Candiates Selected</th>
                    @*<th width="10%">Total Number of Schools</th>*@
                    
                    <th width="10%">Number of Schools selected</th>
                    <th width="10%">Final Submission of candidates</th>
                    <th width="10%">Final Submission of Schools</th>
                    
                    <th width="10%">Total Challan Generated</th>
                    <th width="10%">Total Challan Verified</th>
                    <th width="10%">Total Fees</th>
                    <th width="10%">Total Fees Verified</th>

                </tr>
                @{
                    if (ViewBag.TotalCount > 0)
                    {
                        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                        {
                            var NOfC = Model.StoreAllData.Tables[0].Rows[i]["NOfC"].ToString();
                            var NoOfSC = Model.StoreAllData.Tables[1].Rows[i]["NoOfSC"].ToString();
                            var NoOfSS = Model.StoreAllData.Tables[2].Rows[i]["NoOfSS"].ToString();

                            var FnSbOfC = Model.StoreAllData.Tables[3].Rows[i]["FnSbOfC"].ToString();
                            var FnSbOfS = Model.StoreAllData.Tables[4].Rows[i]["FnSbOfS"].ToString();
                            var TCG = Model.StoreAllData.Tables[5].Rows[i]["TCG"].ToString();

                            var TCV = Model.StoreAllData.Tables[6].Rows[i]["TCV"].ToString();
                            var TF = Model.StoreAllData.Tables[7].Rows[i]["TF"].ToString();
                            var TFV = Model.StoreAllData.Tables[8].Rows[i]["TFV"].ToString();
                                                        
                            int Count = i + 1;
                            var FormName = "";                           
                                if (@Count == 1)
                                { FormName = "Regular Examination  of Matric M1+M2";
                                }
                                if (@Count == 2)
                                { FormName = "Open School  Matric Examination M3";
                                }
                                if (@Count == 3)
                                { FormName = "Regular Examination of Senior Secondary T1+T2";
                                }
                                if (@Count == 4)
                                { FormName = "Open School Examination T3";
                                }                            
                            <tr>
                                <td>
                                    @Count
                                </td>
                                <td>
                                    @FormName
                                </td>
                                <td>
                                    @NOfC
                                </td>
                                <td>
                                    @NoOfSC
                                </td>
                                <td>
                                    @NoOfSS
                                </td>
                                <td>
                                    @FnSbOfC
                                </td>                               
                                <td>
                                    @FnSbOfS
                                </td>
                                <td>
                                    @TCG
                                </td>
                                <td>
                                    @TCV                                   
                                </td>
                                <td>
                                    @TF                                    
                                </td>  
                                <td>    
                                    @TFV
                                </td>                                
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12">
                                @ViewBag.Message
                            </td>
                        </tr>
                    }
                }
            </table>

            <div class="clearfix"></div>
<h1>Summary Of Registratrion (Matric & Senior Secondary)</h1>
            <table class="table table-bordered" id="t01">
                
                <tr class="active-tr">
                    <th width="5%">Sl.<br />No.</th>
                    <th width="20%">Forms Name</th>

                    <th width="10%">Total  Number of Schools</th>
                    <th width="10%">Number of Schools Final Submited</th>

                    <th width="10%">Number of Schools Pending</th>
                    <th width="10%">Number of Total Candidates imported</th>
                    <th width="10%">Number of Candidates Final Submited</th>

                    <th width="10%">Number of Candidates pending</th>
                    <th width="10%">Total Candidates Modified</th>                    

                </tr>
                @{
                    if (ViewBag.TotalCount > 0)
                    {
                        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                        {
                            var TNOfS = Model.StoreAllData.Tables[9].Rows[i]["TNOfS"].ToString();
                            var NOfSFSb = Model.StoreAllData.Tables[10].Rows[i]["NOfSFSb"].ToString();
                            var NOfSP = Model.StoreAllData.Tables[11].Rows[i]["NOfSP"].ToString();

                            var NOfTCImp = Model.StoreAllData.Tables[12].Rows[i]["NOfTCImp"].ToString();
                            var NOfCFSb = Model.StoreAllData.Tables[13].Rows[i]["NOfCFSb"].ToString();
                            var NOfCFP = Model.StoreAllData.Tables[14].Rows[i]["NOfCFP"].ToString();

                            var TCM = Model.StoreAllData.Tables[15].Rows[i]["TCM"].ToString();                           
                                                        
                            int Count = i + 1;
                            var FormName = "";
                            if (@Count == 1)
                            {
                                FormName = "Regular  (Matric) M1+M2";
                            }
                            if (@Count == 2)
                            {
                                FormName = "Open School  (Matric) M3";
                            }
                            if (@Count == 3)
                            {
                                FormName = "Regular (Senior  Secondary) T1+T2";
                            }
                            if (@Count == 4)
                            {
                                FormName = "Open School   (Senior  Secondary) T3";
                            }
                            <tr>
                                <td>
                                    @Count
                                </td>
                                <td>
                                    @FormName
                                </td>
                                <td>
                                    @TNOfS
                                </td>
                                <td>
                                    @NOfSFSb
                                </td>
                                <td>
                                    @NOfSP
                                </td>
                                <td>
                                    @NOfTCImp
                                </td>
                                <td>
                                    @NOfCFSb
                                </td>
                                <td>
                                    @NOfCFP
                                </td>
                                <td>
                                    @TCM
                                </td>
                               
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12">
                                @ViewBag.Message
                            </td>
                        </tr>
                    }
                }
            </table>

        </div>
    </div>
</div>

}
<div class="clearfix"></div>

