@{
    Layout = "~/Views/Shared/_Header.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <p style="text-align:center;font-size:24px;padding-top:80px;padding-bottom:300px">
            Welcome to Punjab School Education Board Admin Portal.
        </p>
    </div>
</div>
