
@{
    Layout = null;
}

<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
    <tr>
        <td width="10%"><img src="~/Images/Printlogo.jpg" width="60px" alt="PSEB" /></td>
        <td width="90%">            
        <td colspan="4" style="font-size:16px;text-align:center;line-height:25px">
            <span style="font-size:26px;">Punjab School Education Board</span><br />
            Registration & Examination Forms Count and Fee Summary, Session 2023-24
        </td>
    </tr>
    <tr>
        <td colspan="5">Print Date & Time …………………..</td>
    </tr>
    <tr>
        <td>Class</td>
        <td>Registered Candidates Count</td>
        <td>Examination  Forms Count</td>
        <td>Registration Fee</td>
        <td>Examination Fee</td>
    </tr>
    <tr>
        <td>5th</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>8th</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>9th</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>10th</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>11th</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>12th</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
