@{
    ViewBag.Title = "ViewTeacherList";
    Layout = "~/Views/Shared/_Card_Header.cshtml";
}


<link rel="stylesheet" href="https://registration2022.pseb.ac.in/Content/cardprintr.css" />
<h1 class="noprint">View Teacher List of School Code : @ViewBag.SCHL</h1>
<div class="row">
    <div class="col-md-12 text-right noprint">
        <input type="button" value="Print" class="btn" onclick="window.print()" />
        <input type="button" value="Back" onclick="history.go(-1);" />
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="t01">
                    <tr class="active-tr">
                        <th>Sr No</th>
                        <th>Staff ID</th>
                        <th>Aadhar No</th>
                        <th>Name</th>
                        <th>Father's Name</th>
                        <th>DOB</th>
                        <th>Mobile No</th>
                        <th>Gender</th>
                        <th>Cadre</th>
                        <th>Subject</th>
                    </tr>
                    @{
                        if (ViewBag.TotalCount > 0)
                        {

                            int Count = 0;
                            for (int i = 0; i < Model.StoreAllData.Tables[4].Rows.Count; i++)
                            {
                                var staffid = Model.StoreAllData.Tables[4].Rows[i]["staffid"].ToString();
                                var aano = Model.StoreAllData.Tables[4].Rows[i]["AadharNo"].ToString();
                                var name = Model.StoreAllData.Tables[4].Rows[i]["Name"].ToString();
                                var id = Model.StoreAllData.Tables[4].Rows[i]["staffid"].ToString();
                                var fname = Model.StoreAllData.Tables[4].Rows[i]["fname"].ToString();
                                var gender = Model.StoreAllData.Tables[4].Rows[i]["Gender"].ToString();
                                var dob = Model.StoreAllData.Tables[4].Rows[i]["DOB"].ToString();
                                var mobno = Model.StoreAllData.Tables[4].Rows[i]["MOBILENO"].ToString();
                                var cadre = Model.StoreAllData.Tables[4].Rows[i]["cadre"].ToString();
                                var subj = Model.StoreAllData.Tables[4].Rows[i]["SUBNM"].ToString();
                                var lot = Model.StoreAllData.Tables[4].Rows[i]["lot"].ToString();
                                Count = Count + 1;
                                <tr>
                                    <td>
                                        @Count
                                    </td>
                                    <td>
                                        @staffid
                                    </td>
                                    <td>
                                        @aano
                                    </td>
                                    <td>
                                        @name
                                    </td>
                                    <td>
                                        @fname
                                    </td>
                                    <td>
                                        @dob
                                    </td>
                                    <td>
                                        @mobno
                                    </td>
                                    <td>
                                        @gender
                                    </td>


                                    <td>
                                        @cadre
                                    </td>
                                    <td>
                                        @subj
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="13">
                                    @ViewBag.Message
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>

</div>